{% extends "base.html" %}

{% block title %}20250702163149864{% endblock %}

{% block content %}

            <!doctype html>

<html lang="zh-CN" site="china">
    <head>
        <meta charset="UTF-8">
        <meta name="applicable-device" content="pc,mobile">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="baidu-site-verification" content="nsMgQr28vc" />
        <meta http-equiv="x-dns-prefetch-control" content="on">


        <meta name="templateName" content="news-pep2.0-base">



<title>华为云获Gartner® “iPaaS魔力象限” 远见者-华为云</title>
<meta name="keywords" content="Gartner,iPaaS,魔力象限,远见者,应用与数据集成平台ROMA Connect" />
<meta name="description" content="近日， Gartner®发布《集成平台即服务魔力象限》报告（Magic Quadrant™ for Integration Platform as a Service），华为云凭借应用与数据集成平台ROMA Connect首次进入远见者象限，成为连续四年亚洲唯一进入iPaaS魔力象限的厂商。   " />
<link rel="canonical" href="https://www.huaweicloud.com/news/2025/20250604105900352.html"/>


<meta name="referrer" content="no-referrer-when-downgrade" />
<meta name="pep-template-version" content="1.9.4" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests;" />





<link rel="icon" href="https://www.huaweicloud.com/favicon.ico">





        <link rel="stylesheet"
            href="https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/css/global.min.css?sttl=1.2.3&ttr=1.2.3" crossorigin="anonymous"/>
        <!--/* header css */-->
        <link rel="stylesheet"
            href="https://portal.hc-cdn.com/cpage-pep-header-and-footer-china/2.0.46/index.css?sttl=1.2.3&ttr=1.2.3" crossorigin="anonymous">
        <style>
            @media(max-width:768px) {
                #header {
                    display: none;
                }
            }

            #footer .footer-nav {
                display: none;
            }

            #footer .footer-copyright-container {
                display: none;
            }

            .footer-service .footer-wrapper {
                display: none;
            }
        </style>




<link rel="stylesheet" href="https://portal.hc-cdn.com/cnpm-baseui/3.0.17/index.css">

<script src="https://portal.hc-cdn.com/cnpm-global-resources/1.1.16/js/jquery.min.js" crossorigin="anonymous"></script>

<script src="https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/libs.min.js"></script>

<!--  -->

<meta name="google-site-verification" content="wQwSWDVSYQzH1niLqcUE15XH1_j_rN1T9-mbq2r6Dmw" />
<meta name="sogou_site_verification" content="u4x6sJNooE" />
<link rel="dns-prefetch" href="https://res-static.hc-cdn.cn" />
<link rel="dns-prefetch" href="https://portal.hc-cdn.com" />
<link rel="dns-prefetch" href="https://support.huaweicloud.com" />
<link rel="dns-prefetch" href="https://activity.huaweicloud.com" />
<link rel="dns-prefetch" href="https://portal.huaweicloud.com" />
<link rel="dns-prefetch" href="https://uba.huaweicloud.com" />
<link rel="dns-prefetch" href="https://uba-intl.huaweicloud.com" />

<!--  -->



<script>
    window.dataLayer = window.dataLayer || [];
    window.$closeBiReport2018 = true

    window.$siteInfo = window.$siteInfo || {};
    window.$siteInfo.site = "china";
    window.$siteInfo.lang = "zh-cn".replace("_", "-");
</script>





                <script>window.$aioList = [ "" ]; window.$aioCdnPrefix = 'https://res.hc-cdn.com/';</script>



        <script>
    window.gConfig =  window.gConfig || {};
    window.gConfig.isMobile = /iPhone|iPad|iPod|Android|Mobile/i.test(navigator.userAgent);
    var hClassName;
    if(window.gConfig.isMobile){
        hClassName = ' phone';
    }else{
        hClassName = ' pc';
    }
    if(window.$aioList) {
        for(var i=0; i<window.$aioList.length; i++) {
            if(window.$aioCdnPrefix){
                if(window.$aioList[i].length>0) {
                    document.write('<link rel="stylesheet" href="'+window.$aioCdnPrefix+window.$aioList[i]+'/'+(window.gConfig.isMobile?'m':'pc')+'/index.css" />');
                }
            } else {
                if(window.$aioList[i].length>0) {
                    document.write('<link rel="stylesheet" href="https://res.hc-cdn.com/'+window.$aioList[i]+'/'+(window.gConfig.isMobile?'m':'pc')+'/index.css" />');
                }
            }

        }
    }
    var root = document.documentElement;
    root.className += hClassName ;
    window.gConfig.seed = window.gConfig.seed || [];
    window.gConfig.seed.push({
        name: '@cloud/link-to',
        data: {
            "packages": {
                "@cloud/link-to": {
                    "path": "//portal.hc-cdn.com/cnpm-link-to/3.1.12/",
                    "version": "3.1.12"
                }
            }
        }
    });
</script>

            <link rel="stylesheet" href="https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/article/clientlibs-news-fragment.css?sttl=1.2.3">


    </head>
    <body class="scrolled">

        <div>















        </div>
        <div id="content">


    <div>
    <div class="news-detail-banenr">
        <div class="news-detail-banenr-wrapper">
            <span class="por-text-title-t2">新闻报道</span>
            <p class="color_text_secondary_dark">了解华为云最新动态</p>
        </div>
    </div>

    <style>
    .news-detail-banenr{
        background-image:url("https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/news/moban/1622085546269068438.png");
    }
    .news-detail-banenr {
        height: 350px;
    }
    .news-detail-banenr-wrapper {
        height: 350px;
        padding-top: 105px;
    }
    .news-detail-banenr-wrapper span {
        display: inline-block;
        margin-bottom: 12px;
    }
     .news-detail-banenr-wrapper p {
            font-size: 18px;
        }
    @media(max-width:768px){
        .news-detail-banenr{
            background-image:url("https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/news/moban/1622085545839096663.png");
        }
        .news-detail-banenr {
            height: 200px;
        }
        .news-detail-banenr-wrapper {
            height: 200px;
            padding-top: 64px;
        }
        .news-detail-banenr-wrapper span {
            display: inline-block;
            font-size: 24px;
            margin-bottom: 8px;
        }
        .news-detail-banenr-wrapper p {
            font-size: 14px;
        }
    }
    </style>
</div>

<div class="news-detail-container">
    <div class="news-detail-wrapper">


        <div class="news-detail-back-mb">

                <a href="//www.huaweicloud.com/news.html" bi_name="新闻报告">
                    <i></i>
                     <span>新闻报道</span>
                 </a>

        </div>

        <div class="news-detail-content">

            <div class="news-detail-title">华为云获Gartner® “iPaaS魔力象限” 远见者</div>
            <div class="news-detail-date">
                <i></i>
                <span>2025-06-04</span>

            </div>

            <div class="news-detail-text">

                    <p style="text-indent: 2em; text-align: justify;">近日， Gartner<sup>®</sup>发布《集成平台即服务魔力象限》报告（Magic Quadrant™ for Integration Platform as a Service），华为云凭借应用与数据集成平台ROMA Connect<strong>首次进入远见者象限</strong>，成为连续四年亚洲唯一进入iPaaS魔力象限的厂商。</p>
<p><img alt="" height="auto" src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/ipaas20250604.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="400"></p>
<p style="text-align: justify; text-indent: 2em;">“Gartner将集成平台即服务（iPaaS）定义为供应商托管的云服务，使能用户实现组织内外部的应用程序、服务和数据源之间的集成。”华为云应用与数据集成平台ROMA Connect是新一代企业级智能融合集成平台iPaaS，提供一体化的集成解决方案，无缝连接应用、消息、事件、数据、API、设备，驱动数字化转型。</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>全栈集成创新，赋能企业高效转型</strong></p>
<p style="text-align: justify;">&nbsp;&nbsp;&nbsp; 华为云应用与数据集成平台ROMA Connect以AI驱动集成, 为企业级集成场景提供全栈技术能力，助力企业更高效地向数智化转型加速跃进。</p>
<p><img alt="" height="auto" src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/roma250604.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="800"></p>
<p style="text-indent: 2em; text-align: justify;"><strong>智能编排，一句话生成集成流：</strong>融合AI与集成，在“AI for 集成”方向，提供会话式智能助手，基于自然语言生成集成流，根据上下文实时生成自动提示，支持集成任务辅助生成，开发周期从周级下降至天级；在“集成 for AI”方向，内置AI连接器，支持盘古等主流AI模型，实现传统应用与AI应用快速对接，并兼容Milvus向量数据库，支持定制化RAG流程调优，增强大模型领域知识能力，降低大模型幻觉问题。</p>
<p style="text-indent: 2em; text-align: justify;"><strong>集成服务开放生态，一站式集成资产管理</strong>：ROMA Connect资产中心实现资产共享、流通，打造一站式集成资产门户，内置100+连接器与200+行业场景模板，开箱即用，可快速搭建供应链协同、智能营销等场景化解决方案，帮助企业构筑轻量化一站式管理运营，加速知识、经验有效传递和复用。</p>
<p style="text-indent: 2em; text-align: justify;"><strong>一体化融合集成平台，打破数据孤岛</strong>：提供统一集成模型，将数据、API、消息、设备集成融合至统一平台，简化集成业务流程；实现公有云、私有云及边缘等环境下的无缝对接，支持100+种异构数据源及常用工业协议，集成效率10倍提升。</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>深耕行业，引领智能集成创新</strong></p>
<p style="text-align: justify; text-indent: 2em;">华为云应用与数据集成平台ROMA Connect深耕应用与数据集成行业场景，依托华为10+年集成治理经验，通过客户需求和技术创新双轮驱动，已成功服务于亚太、欧洲、拉美、中东和北非、南部非洲等国家和地区，累计助力3000余家中大型企业数字化转型，在金融、电力、政务等多行业提供领先的集成解决方案。</p>
<p style="text-indent: 2em; text-align: justify;">金融行业：针对银行系统集成成本高、迭代效率低的痛点，提供异构系统兼容、非侵入式改造及智能部署方案，实现核心系统与外围系统的高效互联和云迁移，构建高可靠集成总线。</p>
<p style="text-indent: 2em; text-align: justify;">制造行业：突破生产数据采集壁垒，打通IT/OT数据孤岛，通过统一API标准与实时数据流优化，使生产效率提升40%，库存成本降低，并实现供应链智能协同。</p>
<p style="text-indent: 2em; text-align: justify;">交通行业：构建机场一二级总线和消息集成，实现机场业务系统的内、外部信息高效互通，有效助力机场数字化运营效率和服务质量的提升，为旅客提供更优质的出行体验。</p>
<p style="text-indent: 2em; text-align: justify;">电力行业：构建覆盖云、边、端的智能协同体系，配电设备即插即用，提升设备安装部署的效率，数据分钟级采集，实现感知层、平台层、应用层的数据共享，平均时延小于100ms。</p>
<p style="text-indent: 2em; text-align: justify;">政务行业：助推政务一网通和智慧城市数字化、网络化、智能化建设，提供统一的集成能力，对数据、消息、接口等进行统一接入和编排，为智慧应用提供场景化接口。</p>
<p style="text-indent: 2em;">除Gartner<sup>®</sup>《集成平台即服务魔力象限》外，华为云应用与数据集成平台ROMA Connect还获得多项业界权威认可：</p>
<p style="text-indent: 2em;"><strong>·&nbsp;</strong> IDC中国企业集成平台（iPaaS）市场份额第一</p>
<p style="text-indent: 2em;"><strong>·&nbsp;</strong> 中国软件行业协会软件行业突破性技术成果奖</p>
<p style="text-indent: 2em;"><strong>·&nbsp;</strong> 中国信息通信研究院全栈企业级集成平台优秀级认证</p>
<p style="text-indent: 2em;"><strong>·&nbsp;</strong> 工业和信息化部电子第五研究所软件产品可信卓越级认证</p>
<p style="text-indent: 2em;"><strong>·&nbsp;</strong> 中国信息通信研究院API全生命周期管理先进级认证</p>
<p style="text-indent: 2em;"><strong>·&nbsp;</strong> 中国信息通信研究院可信云PaaS服务最佳实践奖</p>
<p style="text-indent: 2em;"><strong>·&nbsp;</strong> 中国信息通信研究院可信云用户案例最佳实践奖</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>iPaaS</strong><strong>融合</strong><strong>AI</strong><strong>，展望智能集成下一跳</strong></p>
<p style="text-align: justify; text-indent: 2em;">在数字化转型和AI的浪潮中，企业集成不只聚焦于技术领域。企业管理者以治理为目的，集成为手段，在不断思考如何通过集成快速实现业务全链路智能跃迁。华为云应用与数据集成平台ROMA Connect以端到端智能化引擎为核，采用更前沿的AI技术赋能业务，以架构治理持续拓展集成边界，将持续推出更多AI能力和服务：</p>
<p style="text-indent: 2em; text-align: justify;"><strong>AI</strong><strong>原生集成智能体</strong>：以AI原生能力重塑集成入口和交互体验，简化集成设计开发、资源部署、配置调优、故障检测、日常运维全业务流程，提升业务全链路集成治理效率。</p>
<p style="text-indent: 2em; text-align: justify;"><strong>MCP</strong><strong>全生命周期管理</strong>：一站式MCP集成资产全生命周期管理，提供华为云服务MCP集成资产统一入口，通过MCP智能转换引擎，消除模型与业务系统间的会话语言“鸿沟”；对订阅的MCP Server标准化治理，解决多源MCP服务的集成治理碎片化问题。</p>
<p style="text-indent: 2em; text-align: justify;"><strong>AI Gateway, API</strong><strong>集成管理的</strong><strong>“</strong><strong>智能进化</strong><strong>”</strong>：提供标准化大模型API接口，降低调用复杂度; Token级流量控制，避免高并发下的服务雪崩；全链路审计溯源，满足合规与成本控制诉求。</p>
<p style="text-indent: 2em; text-align: justify;">iPaaS不仅是连接工具，更是企业智能化、开放自适应的“企业中枢神经系统”，助力企业实现高效、敏捷的数字化转型，业务全链路智能跃迁。面向未来，华为云应用与数据集成平台ROMA Connect将持续投入智能化iPaaS创新，打造更高效、更安全、更智能的下一代企业级融合集成平台。</p>
<p style="text-indent: 2em; text-align: justify;">&nbsp;</p>
<p><em>Magic Quadrant™ for Integration Platform as a Service, Published 19 May 2025</em></p>
<p><em>Gartner</em><em>免责声明：</em></p>
<p><em>Gartner</em><em>未在其报告中支持任何厂商、产品或服务，也并不建议技术用户只选择有最高评分或其它特征的厂商。Gartner研究出版物代表的是Gartner研究机构的意见，不应解释为对事实的陈述。Gartner对与本研究有关的所有明示或暗示的保证概不负责，包括对适销性或特定用途的适用性的任何保证。Gartner和Magic Quadrant是Gartner有限公司和/或其附属公司在美国及全球的注册商标和服务商标，经许可在此使用。保留所有权利。</em></p>

            </div>









        </div>
    </div>
</div>



<style type="text/css" id="news-style">
    #content .wrapper {
        background-color: #ffffff;
    }
    .news-break {
        background-color: #f7f7f7;
        position: relative;
        width: 860px;
        font-size: 12px;
        left: -40px;
        height: 24px;
        line-height: 20px;
        color: #999;
    }

    @media (max-width: 1179px){
        .news-break {
            left:0px;
            background-color: #FFF;
        }
        .law_right .content-block img{
            width: 80%;
        }
        .law_right {
            margin-top: 0px;
        }
    }

    .news_detail strong, .news_detail .strong, .news-detail-text strong {
        font-weight: bolder;
    }
    .news-detail-text p a {
        word-wrap: break-word;
    }

    .news-detail-text p {
        text-indent: 0;
        line-height:32px !important;
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }

    .news-detail-text p span {
        font-size: 16px !important;
        color: rgb(111, 116, 121) !important;
    }

    .news-detail-text p a span {
        color:inherit !important;
    }

    .news-detail-text p>span,
    .news-detail-text h2 strong span {
        font-size: 16px !important;

    }
    .news-detail-text h2 {
        margin-bottom: 20px;
    }

    .news-detail-text div p .anchorclass {
        display:none;
    }
    .news-detail-date{
        clear:both;
        font-size:0px;
    }
    .news-detail-date span{
        display:inline-block;
        vertical-align:middle;
        line-height: 14px;
    }
    .footer-record span{

        display:inline-block;
    }

    .news-detail-text a:not([href]):hover {
        color: inherit;
        text-decoration: none;
    }
    .news-detail-text a:not([href]) {
        color: inherit;
    }
</style>

<!-- 处理富文本中图片大小 -->
<script>
    $(".news-detail-text img").each(function () {
        var $this = $(this);
        var width = $this.width();
        var pWidth = $this.closest(".news-detail-text").width();

        if (width >= $this.height() && (width/pWidth) >0.8 ) {
            $this.css("width", "80%");
        } else {
            if( (width/pWidth) > 0.6 ){
                $this.css("width", "60%");
            }
        }
    });

</script>

<!-- 处理富文本中图片和文本格式 -->
<script>
    $(".crumbs a").each(function(){
        var index = location.href.split(location.host)[1].indexOf("partners");
        if($(this).text().trim()=="了解华为云"&&index>=0){
            $(this).text("合作伙伴");
        }
    });
    $("p strong").parent().each(function(){
        $(this).css("margin-top","50px;");
        $(this).children("strong").attr("style","color:#333;");
    });
</script>


<script src="https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/clientlib-product.js?sttl=1.2.3"></script>
<script src="https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/commons/web_resoure/cms/static/js/v2/ucd-custom.js?sttl=1.2.3"></script>
<script src="https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/commons/web_resoure/cms/static/js/v2/about.js?sttl=1.2.3"></script>



<style>
    .news-detail-text img{
        height: auto !important;
    }

    @media(max-width: 767px){
        .news-detail-text img{
            width: auto !important;
            max-width: 100% !important;
            height: auto !important;
        }
    }
</style>

        </div>




        <div>












<script>
    var originsWhiteList = ['https://www.huaweicloud.com','https://activity.huaweicloud.com','https://support.huaweicloud.com','https://beian.huaweicloud.com'];
    var currentOrigin = originsWhiteList.includes(window.location.origin)?window.location.origin:'https://www.huaweicloud.com';
    var url = currentOrigin+"/common/header-footer-china-zh-2023.html";
    var $tmpForPEP = document.createElement("div");
    $.ajax({
        url: url,
        async: true,
        timeout: 10000,
        success: function(response) {
            $tmpForPEP.innerHTML = response;
            // 下拉部分
            $("#footer").append($tmpForPEP.querySelector("#edit-header-drop").innerHTML);
            var scripts = [
                "https://portal.hc-cdn.com/cpage-pep-header-and-footer-china/2.0.46/header-and-footer-china.umd.js?sttl=1.2.3&ttr=1.2.3",
                "https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/portalLogin.min.js?sttl=1.2.3&ttr=1.2.3"
            ];
            for(var i = 0; i < scripts.length; i++) {
                var script = document.createElement('script');
                script.type = 'text/javaScript';
                script.setAttribute('crossorigin','anonymous');
                script.src = scripts[i];
                document.getElementsByTagName('body')[0].appendChild(script);
            }
        },
        error: function(response) {
          var scripts = [
                "https://portal.hc-cdn.com/cpage-pep-header-and-footer-china/2.0.46/header-and-footer-china.umd.js?sttl=1.2.3&ttr=1.2.3",
                "https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/portalLogin.min.js?sttl=1.2.3&ttr=1.2.3"
            ]
            for(var i = 0; i < scripts.length; i++) {
                var script = document.createElement('script');
                script.type = 'text/javaScript';
                script.setAttribute('crossorigin','anonymous');
                script.src = scripts[i];
                document.getElementsByTagName('body')[0].appendChild(script);
            }
        }
    });


    if (!window.gConfig) {
        window.gConfig = {}
    }
    window.gConfig.isApp = /galaxy/i.test(navigator.userAgent) && window.galaxy;
    // 初始化全局变量
    var jsonParamInit = {}
    var jsonParamView = {}
    var jsonParamEvent = {}
    jsonParamInit['UserAccount'] = 'host'
    jsonParamEvent['rec_account'] = getUaCookie('ua')
    jsonParamView['rec_account'] = getUaCookie('ua')
    var portalDomain = 'https://portal.huaweicloud.com',
    ssoDomain = 'https://auth.huaweicloud.com'
    var isVerified = false
    var isLogin = false
    var totalMsg = 0;
    function getUaCookie(c_name) {
        if (document.cookie.length > 0) {
            var c_start = document.cookie.indexOf(c_name + '=')
            if (c_start != -1) {
            c_start = c_start + c_name.length + 1
            var c_end = document.cookie.indexOf(';', c_start)
            if (c_end == -1) c_end = document.cookie.length
            return decodeURI(document.cookie.substring(c_start, c_end))
            }
        }
        return ''
    }
</script>



        </div>


        <style type="text/css">
            .notice-detail-content .notice-wrapper table td {
                border: 1px solid black;
            }
            .notice-detail-content .notice-wrapper #edui1_bottombar table td {
                border: none;
                border-top: 1px solid #ccc;
            }
            .notice-header {
                background-image: url(https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/article/clientlibs-notice-detail-v2/site/images/custom-notice-custom-notice-PC-v3.jpg);
            }
            @media (max-width: 1023px) {
                .notice-header {
                    background-image: url(https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/article/clientlibs-notice-detail-v2/site/images/custom-notice-detail-notice_banner_mb-v3.jpg);
                }
            }
            .notice-header h1 {
                color: #252B3A;
            }
        </style>



<script>
  var furionAppCode = '';
  var $currentUrl = location.href;
  if($currentUrl.indexOf("/price_detail.html") != -1 || $currentUrl.indexOf("/pricing.html") != -1 || $currentUrl.indexOf("/pricing/index.html") != -1){
    furionAppCode = 'D00903385CF649FCA048B5DE1C1E6D4E';
  }else if($currentUrl.indexOf("https://activity.huaweicloud.com") == 0) {
    furionAppCode = '51D7385A7D2B4937BB45DC755E82C48C';
  } else if ($currentUrl.indexOf("https://www.huaweicloud.com") == 0) {
    furionAppCode = '7D9AB7C5E01D4698B7B918065C762796';
  } else if ($currentUrl.indexOf("https://support.huaweicloud.com") == 0) {
    furionAppCode = '1C04D12EB0F8479A9DA9A24639FCA81C';
  }
  if(!window.__fr && furionAppCode){
    !function(x, n) {
      window[n] = window[n] || {};
      window[n].config = {
          appId: furionAppCode,setting: "api,jsTrack,uba,longtask,rtti",hashMode: true,closeReportFMP: true,
      };
      var o = document.createElement('script');
      o.src = x, o.async = !0;
      var d = document.body.firstChild;
      document.body.insertBefore(o, d);
    }('https://portal.hc-cdn.com/FurionSdkStatic/3.6.55/furion-cdn.min.js', '__fr');
  }
</script>

<script src="https://portal.hc-cdn.com/cnpm-global-resources/1.1.16/js/bi_new.js?sttl=1.2.3"></script>
<script>
    if (window.NodeList && !NodeList.prototype.forEach) {
        NodeList.prototype.forEach = function (callback, thisArg) {
            thisArg = thisArg || window;
            for (var i = 0; i < this.length; i++) {
                callback.call(thisArg, this[i], i, this);
            }
        };
    }
</script>
<script src="https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/global.min.js" crossorigin="anonymous"></script>

<script src="https://portal.hc-cdn.com/cnpm-baseui/3.0.17/index.js?sttl=1.2.3&ttr=1.2.3" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://res-static.hc-cdn.cn/aem/content/cloudbu-site/resource/common/feloader.js?sttl=1.2.3&ttr=1.2.3" crossorigin="anonymous"></script>

<div class="hide-sttl" style="height: 0;width:0" data-sttl="1.2.3"></div>
<script>
    window.sttlVersion = $('.hide-sttl').attr('data-sttl') || '2020';
</script>




        <script>
            if( !/pcloudApp/i.test(navigator.userAgent) ){
                $("#header").css("display","block");
            }
        </script>



<!-- TODO：兼容AEM的埋点 Begin-->
<script>
    // edit--china--en-us--declaration
    var $ts_site = "china";
    var $ts_lang = "zh-cn".replace("_", "-");
    var $ts_domain = window.location.host.split('.')[1] ? window.location.host.split('.')[0] : 'localhost';
    var channel = "news/2025";
    var $uri = channel?"/20250604105900352.html":"20250604105900352.html";
    var $pepchannel = (channel+$uri).split("/").join("_").replace(".html","");
    window.matedataDomain = $ts_domain;

    // if open in app, should change ts_domain in to "app"
    if( /pcloudApp/i.test(navigator.userAgent) ) {
        window.matedataDomain = "app";
    }else{
        var str = window.location.search;
        var suband = "type=android";
        var subios = "type=ios";
        if( str.indexOf(subios)!=-1 || str.indexOf(suband)!=-1 ){
            window.matedataDomain = "app";
        }
    }

    // 新系统中生成的方式需要改下
    window.pageMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + ".click.";
    window.headerMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_navigation.click.";
    window.footerMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_footer.click.";
    window.registerMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_register.click.";
    window.serviceMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_service.click.";
    window.pep_uaid = ($ts_site=="china") ? "UA-55836286-1" : "UA-55836286-39";
    window.mate_data_ts_pageType = $pepchannel;
</script>
<!-- TODO：兼容AEM的埋点 End-->


<script>
    function showFooter(){
       if(window.matedataDomain != "app") {
           $("#footer .footer-nav").css('display','block');
           $("#footer .footer-copyright-container").css('display','block');
           $(".footer-service .footer-wrapper").css('display','block');
           $("#footer #videoDiv").css('display','none');
       }
    }
    if (window.feloader) {
        feloader.onLoad(function(){
            feloader.getScript('https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/product-icons.css');
            feloader.getScript('https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/iconFont-solution.css');
            showFooter()
        })
    }
    else{
        document.write("<link rel='stylesheet' href='https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/product-icons.css'>");
        document.write("<link rel='stylesheet' href='https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/iconFont-solution.css'>");
        showFooter();
    }

    // 处理一下a标签href是tel的场景
    var telsEle = $("a[href^='tel:'][target]");
    telsEle .removeAttr("target");
</script>




<script>
    if (window.$aioList && window.$aioList.length > 0) {
        for (var i = 0; i < window.$aioList.length; i++) {
            var tmpComponent = window.$aioList[i];
            if (tmpComponent) {
                var tmpComponentInfo = tmpComponent.split("/");
                if (tmpComponentInfo.length == 2) {
                    var name = tmpComponentInfo[0];
                    var version = tmpComponentInfo[1];
                    var tmpComponentWrapperEle = $('[data-mod-name="' + name + '"]');
                    var eleVersionAttr = tmpComponentWrapperEle.attr("data-mod-version");
                    if (eleVersionAttr && eleVersionAttr != version) {
                        var linkEle = $('head link[href*="' + name + '/' + version + '"]');
                        linkEle.attr("href", linkEle.attr("href").replace(version, eleVersionAttr));
                    }
                }
            }
        }
    }
</script>
<script>
    // document.referrer可以获取浏览器上一次地址，如果document.referrer是空字符串，则不为语言切换场景
    window.refLan = "";
    window.$PEP = true;

    function getSiteFromURL() {
        url = window.location.host;
        urlArr = url.split(".");
        if (urlArr[0] == "www") {
            reg = "CN";
        } else {
            reg = "HK"
        }
        return reg;
    }
    var siteStr = $('html').attr("site")
    if (siteStr) {
        window.reg = siteStr == "china" ? "CN" : siteStr.toUpperCase();
    } else {
        window.reg = getSiteFromURL();
    }

    window.promptLan = $('html').attr("lang");

    if (document.referrer != "") {
        if (document.referrer.indexOf("/authui/login") == -1) {
            if (document.referrer.indexOf(".com/intl") != -1) {
                window.refLan = (document.referrer.indexOf(".com/intl/zh-cn") != -1) ? "zh-CN" : ((document.referrer.indexOf(".com/intl/en-us") != -1) ? "en-US" : "es-US");
            } else {
                window.refLan = (document.referrer.indexOf(".com/en-us") != -1) ? "en-US" : "zh-CN";
            }
        } else {
            //window.refLan = (document.referrer.indexOf("locale=zh-cn") != -1) ? "zh-CN" : "en-US";
            if (document.referrer.indexOf("locale=") != -1) {
                window.refLan = (document.referrer.indexOf("locale=zh-cn") != -1) ? "zh-CN" : ((document.referrer.indexOf("locale=en-us") != -1) ? "en-US" : "es-US");
            } else {
                window.refLan = window.promptLan;
            }
        }
    } else {
        window.refLan = window.promptLan;
    }
</script>
<!--/* 55 trace for some special page */-->
<script>
    !function ($) {
        if (window.dataLayer && window.dataLayer.push) {

            if (window.location.pathname == "/consultation/") {
                $("#submitBtn").click(function (e) {
                    window.dataLayer.push({
                        "event": "consultSubmit",
                        "productName": $("#applicationscene").val()
                    });
                })
            }

            $("#header .header-login").click(function (e) {
                window.dataLayer.push({
                    "event": "loginIntention"
                })
            });

            $("#header .header-register").click(function (e) {
                window.dataLayer.push({
                    "event": "creationIntention",
                    "pageType": window.mate_data_ts_pageType,
                    "pagePosition": "Header"
                })
            });


        }
    }(jQuery);
</script>


<script src="https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/commons/apm/wise_trace.min.js?sttl=1.2.3"></script>

<script>
    $("a[href*='/pep-dialog/']").each(function () {
        var ele = $(this);
        var href = ele.attr("href");
        var path = href.replace(/.html/g, "");
        var ajaxPath = path.indexOf("activity/") == -1 ? path : path.split("activity/")[1];
        var arr = path.split("/");
        var dialogName = arr[arr.length - 1];
        var location_lang = $('html').attr('lang').toLowerCase();
        var site = $('html').attr('site').toLowerCase() == 'china' ? 'china' : 'hk';  //  站点判断，国内：china；国际站：hk
        var dialogUrl = (window.location.host.indexOf(".com") != -1 && window.location.host.indexOf("pep.huaweicloud.com") == -1) ? "https://" + window.location.host + "/" + ajaxPath + "/jcr:content/dialog.html?wcmmode=disabled" : "/content/cloudbu-site/" + site + "/" + location_lang + "/activity/" + ajaxPath + "/jcr:content/dialog.html?wcmmode=disabled";
        ele.css('pointer-events', 'auto');
        ele.on("click", function (e) {
            e.stopPropagation();
            e.preventDefault();
            if ($("body [data-pep-path*='" + dialogName + "']").length !== 0) {
                $("body [data-pep-path*='" + dialogName + "']").remove();
            }
            // dialog for activity
            $.ajax({
                url: dialogUrl,
                success: function (data) {
                    if (data) {
                        data = data.replace('block', 'none');
                        $("body").append(data);
                        $("#modal-rule").html($("body [data-pep-path*='" + dialogName + "']").html());
                        window.activityModal.show('#modal-rule', true);
                    }
                }
            })
        });
    });
</script>


    </body>
</html>
{% endblock %}


