{% extends "base.html" %}

{% block title %}新闻-20250621{% endblock %}

{% block content %}

<!doctype html>

<html lang="zh-CN" site="china">
<head>
    <meta charset="UTF-8">
    <meta content="pc,mobile" name="applicable-device">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="nsMgQr28vc" name="baidu-site-verification"/>
    <meta content="on" http-equiv="x-dns-prefetch-control">


    <meta content="news-pep2.0-base" name="templateName">


    <title>持续深耕，华为云Stack做智能时代更懂政企的云-华为云</title>
    <meta content="华为云Stack,更懂政企的云,华为开发者大会2025" name="keywords"/>
    <meta content="6月21日，以“华为云Stack，做智能时代更懂政企的云”为主题的高峰论坛在华为开发者大会2025上成功举办。本次峰会汇聚来自政府、金融、央国企等领域的政企行业用户、伙伴及专家学者，围绕政企数智化转型的热点话题展开深度探讨及交流。"
          name="description"/>
    <link href="https://www.huaweicloud.com/news/2025/20250621193254067.html" rel="canonical"/>


    <meta content="no-referrer-when-downgrade" name="referrer"/>
    <meta content="1.9.4" name="pep-template-version"/>
    <meta content="upgrade-insecure-requests;" http-equiv="Content-Security-Policy"/>


    <link href="https://www.huaweicloud.com/favicon.ico" rel="icon">


    <link crossorigin="anonymous"
          href="https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/css/global.min.css?sttl=1.2.3&ttr=1.2.3"
          rel="stylesheet"/>
    <!--/* header css */-->
    <link crossorigin="anonymous"
          href="https://portal.hc-cdn.com/cpage-pep-header-and-footer-china/2.0.46/index.css?sttl=1.2.3&ttr=1.2.3"
          rel="stylesheet">
    <style>
        @media(max-width:768px) {
            #header {
                display: none;
            }
        }

        #footer .footer-nav {
            display: none;
        }

        #footer .footer-copyright-container {
            display: none;
        }

        .footer-service .footer-wrapper {
            display: none;
        }
    </style>


    <link href="https://portal.hc-cdn.com/cnpm-baseui/3.0.17/index.css" rel="stylesheet">

    <script crossorigin="anonymous"
            src="https://portal.hc-cdn.com/cnpm-global-resources/1.1.16/js/jquery.min.js"></script>

    <script src="https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/libs.min.js"></script>

    <!--  -->

    <meta content="wQwSWDVSYQzH1niLqcUE15XH1_j_rN1T9-mbq2r6Dmw" name="google-site-verification"/>
    <meta content="u4x6sJNooE" name="sogou_site_verification"/>
    <link href="https://res-static.hc-cdn.cn" rel="dns-prefetch"/>
    <link href="https://portal.hc-cdn.com" rel="dns-prefetch"/>
    <link href="https://support.huaweicloud.com" rel="dns-prefetch"/>
    <link href="https://activity.huaweicloud.com" rel="dns-prefetch"/>
    <link href="https://portal.huaweicloud.com" rel="dns-prefetch"/>
    <link href="https://uba.huaweicloud.com" rel="dns-prefetch"/>
    <link href="https://uba-intl.huaweicloud.com" rel="dns-prefetch"/>

    <!--  -->


    <script>
        window.dataLayer = window.dataLayer || [];
        window.$closeBiReport2018 = true

        window.$siteInfo = window.$siteInfo || {};
        window.$siteInfo.site = "china";
        window.$siteInfo.lang = "zh-cn".replace("_", "-");
    </script>


    <script>window.$aioList = [ "" ]; window.$aioCdnPrefix = 'https://res.hc-cdn.com/';</script>


    <script>
        window.gConfig =  window.gConfig || {};
        window.gConfig.isMobile = /iPhone|iPad|iPod|Android|Mobile/i.test(navigator.userAgent);
        var hClassName;
        if(window.gConfig.isMobile){
            hClassName = ' phone';
        }else{
            hClassName = ' pc';
        }
        if(window.$aioList) {
            for(var i=0; i<window.$aioList.length; i++) {
                if(window.$aioCdnPrefix){
                    if(window.$aioList[i].length>0) {
                        document.write('<link rel="stylesheet" href="'+window.$aioCdnPrefix+window.$aioList[i]+'/'+(window.gConfig.isMobile?'m':'pc')+'/index.css" />');
                    }
                } else {
                    if(window.$aioList[i].length>0) {
                        document.write('<link rel="stylesheet" href="https://res.hc-cdn.com/'+window.$aioList[i]+'/'+(window.gConfig.isMobile?'m':'pc')+'/index.css" />');
                    }
                }

            }
        }
        var root = document.documentElement;
        root.className += hClassName ;
        window.gConfig.seed = window.gConfig.seed || [];
        window.gConfig.seed.push({
            name: '@cloud/link-to',
            data: {
                "packages": {
                    "@cloud/link-to": {
                        "path": "//portal.hc-cdn.com/cnpm-link-to/3.1.12/",
                        "version": "3.1.12"
                    }
                }
            }
        });
    </script>

    <link href="https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/article/clientlibs-news-fragment.css?sttl=1.2.3"
          rel="stylesheet">


</head>
<body class="scrolled">

<div>


</div>
<div id="content">


    <div>
        <div class="news-detail-banenr">
            <div class="news-detail-banenr-wrapper">
                <span class="por-text-title-t2">新闻报道</span>
                <p class="color_text_secondary_dark">了解华为云最新动态</p>
            </div>
        </div>

        <style>
            .news-detail-banenr{
                background-image:url("https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/news/moban/1622085546269068438.png");
            }
            .news-detail-banenr {
                height: 350px;
            }
            .news-detail-banenr-wrapper {
                height: 350px;
                padding-top: 105px;
            }
            .news-detail-banenr-wrapper span {
                display: inline-block;
                margin-bottom: 12px;
            }
             .news-detail-banenr-wrapper p {
                    font-size: 18px;
                }
            @media(max-width:768px){
                .news-detail-banenr{
                    background-image:url("https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/news/moban/1622085545839096663.png");
                }
                .news-detail-banenr {
                    height: 200px;
                }
                .news-detail-banenr-wrapper {
                    height: 200px;
                    padding-top: 64px;
                }
                .news-detail-banenr-wrapper span {
                    display: inline-block;
                    font-size: 24px;
                    margin-bottom: 8px;
                }
                .news-detail-banenr-wrapper p {
                    font-size: 14px;
                }
            }
        </style>
    </div>

    <div class="news-detail-container">
        <div class="news-detail-wrapper">


            <div class="news-detail-back-mb">

                <a bi_name="新闻报告" href="//www.huaweicloud.com/news.html">
                    <i></i>
                    <span>新闻报道</span>
                </a>

            </div>

            <div class="news-detail-content">

                <div class="news-detail-title">持续深耕，华为云Stack做智能时代更懂政企的云</div>
                <div class="news-detail-date">
                    <i></i>
                    <span>2025-06-21</span>

                </div>

                <div class="news-detail-text">

                    <p style="text-indent: 2em; text-align: justify;">
                        6月21日，以“华为云Stack，做智能时代更懂政企的云”为主题的高峰论坛在华为开发者大会2025上成功举办。本次峰会汇聚来自政府、金融、央国企等领域的政企行业用户、伙伴及专家学者，围绕政企数智化转型的热点话题展开深度探讨及交流。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        面对新一轮技术大爆炸的AI浪潮，越来越多的政企客户正在积极拥抱智能化，探索将AI技术引入智慧客服、工艺优化、安全监管、数字化营销等业务场景，牵引兑现AI技术的价值，提升企业竞争力，与智能时代同频。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        华为云全球Marketing与销售服务总裁石冀琳首先发表演讲，她指出，生产智能化、数据要素化、经验全球化正成为政企数智跃迁的三大驱动力。华为云全面构建AI云服务产品和解决方案的竞争力，持续联合客户和伙伴落地更多场景，推进AI技术在生产系统兑现价值；携手上海数据集团、深圳南山、成都等客户探索城市数据空间、行业数据空间的应用场景并沉淀运营经验；聚合产生业态和各方力量，并通过流程和制度构建全球化根基，助力中国企业全球化。</p>
                    <p style="text-align: center;"><em><img alt="" height="auto"
                                                            src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/shijilin250621.jpg"
                                                            width="550"></em></p>
                    <p style="text-align: center;"><em>华为云全球Marketing与销售服务总裁石冀琳</em></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p><strong>持续战略投入，为政企用户提供高效“生产工具”</strong></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        中国有全球最全的工业门类、最多的金融消费人群、最大规模的政务云和智慧城市体系，产生了海量的工业数据、金融数据、公共数据，这些都为中国AI产业的发展提供了绝佳土壤。如何在保证安全可靠的同时充分利用每一份算力资源，激发全量多模数据的价值，让企业训好和用好专属大模型，加速应用的创新与快速上线，成为政企全面实现数智跃迁的关键支点。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        华为混合云总裁肖霏在主题演讲中表示：“在AI浪潮中，政企可以通过云向上找到AI技术锚点，快速驾驭创新。一朵同时具备高韧性和安全合规，可支撑数据+AI+应用开发的丰富行业技术栈的混合云，更能满足政企数智化的发展需求。华为云Stack深耕政企，持续战略投入混合云领域，从云平台、数智融合、AI到应用现代化全面构筑竞争力，做智能时代更懂政企的云。”</p>
                    <p style="text-align: center;"><img alt="" height="auto"
                                                        src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/xiaofei250621.jpg"
                                                        width="550"></p>
                    <p style="text-align: center;"><em>华为混合云总裁肖霏</em></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        目前，华为云Stack能够提供120多个云服务和50多个场景化解决方案，已成为新兴亚太与中国混合云市场的领导者，在政务、金融、制造等领域连续多年保持市场份额第一。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        依托长期服务政企用户的经验，华为云Stack深刻认识到政企用户并不是一个笼统的群体，而是有清晰的角色分类、不同的场景和使用诉求。在智能时代，理解用户、为细分用户群提供具体软件与AI能力就显得尤为重要。政企用户主要可以划分为四类：数据中心工程师、数据工程师、AI算法模型应用工程师、应用开发工程师。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        围绕这四类政企用户群体，华为云Stack从“建云、上云、用云、管云”全业务流程视角，构建并持续强化从云平台到数智融合，再到各类生产工具链等产品和方案，使能政企用户调度好资源、治理好数据、训练好模型、开发好应用。</p>
                    <p style="text-indent: 2em; text-align: justify;">会上，肖霏还透露，华为云Stack将在下半年率先成为适配CloudMatrix
                        384超节点的混合云，让政企客户也能在本地拥有自己的云上超节点，为智能跃迁提供澎湃AI算力。</p>
                    <p style="text-indent: 2em; text-align: justify;">&nbsp;</p>
                    <p><strong>在钢铁，携手发布全球首个钢铁大模型</strong></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        湘钢集团副总工兼数智化研究院院长黄贻玉在会上分享湘潭钢铁集团有限公司基于大模型混合云开展数智创新的实践。作为全球规模最大的宽厚板生产基地，湘钢联合华为、中国移动、华菱云创等合作伙伴发布了全球首个钢铁大模型。</p>
                    <p style="text-align: center;"><em><img alt="" height="auto"
                                                            src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/huangyiyu250621.jpg"
                                                            width="550"></em></p>
                    <p style="text-align: center;"><em>湘钢集团副总工兼数智化研究院院长黄贻玉</em></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        基于华为云Stack，湘钢建设了全集团统一的人工智能训练中心，辐射湘钢各二级厂、阳春等生产单位，实现在中心规模训练智能场景模型，在边缘各二级厂进行高效推理。2024年湘钢已上线包括智慧配煤、废钢定级、精炼优化等32个人工智能场景，计划到年底将完成100个场景落地。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        湘钢还积极引入华为云Stack的专业服务，通过场景模型打样+技术赋能，培养了华菱云创和二级厂数百名人员，使业务人员具备视觉和预测模型自主研发能力，支撑“集团内部三钢智能化，复制到钢企同业，辐射上下游企业”三步走模式。</p>
                    <p>&nbsp;</p>
                    <p><strong>在城市，打造可信数据空间赋能城市全域数字化转型</strong></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        成都城投数智集团余萍萍在会上发表《筑可信数据流通平台，聚智能应用生态》的主题演讲。成都城投数智集团自成立以来始终积极构建数字化核心竞争力，为智慧蓉城添砖加瓦。</p>
                    <p style="text-align: center;"><em><img alt="" height="auto"
                                                            src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/yupinpin250621.jpg"
                                                            width="550"></em></p>
                    <p style="text-align: center;"><em>成都城投数智集团余萍萍</em></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        成都城投数智集团充分发挥行业优势，构建城投云，联合华为打造城投数智城市感知可信数据空间，搭建起一套赋能城市全域数字化转型的数据服务体系。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        在未来，成都城投数智集团计划加快感知体系建设进程，以海量数据筑牢城市数字转型根基，以数据融合为桥梁，催生新业态、新模式，培育新企业，大力引育数商生态，以数据驱动产品创新，以产品反哺数据价值，实现数据资源向商业价值的高效转化，全面构建数据场景化运营能力。</p>
                    <p>&nbsp;</p>
                    <p><strong>大模型混合云，解锁政企智能应用无限可能</strong></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        华为混合云副总裁、产品管理部部长徐强在会上详细介绍华为云Stack在大模型混合云方面的进展与思考。徐强表示，2025年，以
                        DeepSeek为代表的新一代大模型加速涌现，推动AI产业在模型架构、扩展法则、模型开发、应用开发四个维度都发生了深刻变革，AI从技术突破逐渐走向价值创造。在这样的背景下，算力管理能力和AI工具链也面临全新的挑战。华为云Stack通过极致推理、精细化运营、一站式开发工具链、高效Agent开发、行业使能套件及7类30+专业服务六大能力升级，为政企打造最优AI平台。</p>
                    <p style="text-align: center;"><em><img alt="" height="auto"
                                                            src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/xuqiang250621.jpg"
                                                            width="550"></em></p>
                    <p style="text-align: center;"><em>华为混合云副总裁、产品管理部部长徐强</em></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        会上，徐强发布《政企AI平台架构及应用实践》白皮书。白皮书汇集华为云Stack服务政务、金融、制造、能源等行业头部客户的丰富实践，并总结其中的共性需求，提出政企AI平台参考架构。希望能够为行业发展提供一个参考框架，帮助政企客户更清晰地规划自身AI平台建设路径，降低建设成本与技术门槛，在AI带来的发展机遇中，实现业务的创新突破与高质量发展。</p>

                </div>


            </div>
        </div>
    </div>


    <style id="news-style" type="text/css">
        #content .wrapper {
            background-color: #ffffff;
        }
        .news-break {
            background-color: #f7f7f7;
            position: relative;
            width: 860px;
            font-size: 12px;
            left: -40px;
            height: 24px;
            line-height: 20px;
            color: #999;
        }

        @media (max-width: 1179px){
            .news-break {
                left:0px;
                background-color: #FFF;
            }
            .law_right .content-block img{
                width: 80%;
            }
            .law_right {
                margin-top: 0px;
            }
        }

        .news_detail strong, .news_detail .strong, .news-detail-text strong {
            font-weight: bolder;
        }
        .news-detail-text p a {
            word-wrap: break-word;
        }

        .news-detail-text p {
            text-indent: 0;
            line-height:32px !important;
            margin-top: 0px !important;
            margin-bottom: 20px !important;
        }

        .news-detail-text p span {
            font-size: 16px !important;
            color: rgb(111, 116, 121) !important;
        }

        .news-detail-text p a span {
            color:inherit !important;
        }

        .news-detail-text p>span,
        .news-detail-text h2 strong span {
            font-size: 16px !important;

        }
        .news-detail-text h2 {
            margin-bottom: 20px;
        }

        .news-detail-text div p .anchorclass {
            display:none;
        }
        .news-detail-date{
            clear:both;
            font-size:0px;
        }
        .news-detail-date span{
            display:inline-block;
            vertical-align:middle;
            line-height: 14px;
        }
        .footer-record span{

            display:inline-block;
        }

        .news-detail-text a:not([href]):hover {
            color: inherit;
            text-decoration: none;
        }
        .news-detail-text a:not([href]) {
            color: inherit;
        }
    </style>

    <!-- 处理富文本中图片大小 -->
    <script>
        $(".news-detail-text img").each(function () {
            var $this = $(this);
            var width = $this.width();
            var pWidth = $this.closest(".news-detail-text").width();

            if (width >= $this.height() && (width/pWidth) >0.8 ) {
                $this.css("width", "80%");
            } else {
                if( (width/pWidth) > 0.6 ){
                    $this.css("width", "60%");
                }
            }
        });

    </script>

    <!-- 处理富文本中图片和文本格式 -->
    <script>
        $(".crumbs a").each(function(){
            var index = location.href.split(location.host)[1].indexOf("partners");
            if($(this).text().trim()=="了解华为云"&&index>=0){
                $(this).text("合作伙伴");
            }
        });
        $("p strong").parent().each(function(){
            $(this).css("margin-top","50px;");
            $(this).children("strong").attr("style","color:#333;");
        });
    </script>


    <script src="https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/clientlib-product.js?sttl=1.2.3"></script>
    <script src="https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/commons/web_resoure/cms/static/js/v2/ucd-custom.js?sttl=1.2.3"></script>
    <script src="https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/commons/web_resoure/cms/static/js/v2/about.js?sttl=1.2.3"></script>


    <style>
        .news-detail-text img{
            height: auto !important;
        }

        @media(max-width: 767px){
            .news-detail-text img{
                width: auto !important;
                max-width: 100% !important;
                height: auto !important;
            }
        }
    </style>

</div>


<div>


    <script>
        var originsWhiteList = ['https://www.huaweicloud.com','https://activity.huaweicloud.com','https://support.huaweicloud.com','https://beian.huaweicloud.com'];
        var currentOrigin = originsWhiteList.includes(window.location.origin)?window.location.origin:'https://www.huaweicloud.com';
        var url = currentOrigin+"/common/header-footer-china-zh-2023.html";
        var $tmpForPEP = document.createElement("div");
        $.ajax({
            url: url,
            async: true,
            timeout: 10000,
            success: function(response) {
                $tmpForPEP.innerHTML = response;
                // 下拉部分
                $("#footer").append($tmpForPEP.querySelector("#edit-header-drop").innerHTML);
                var scripts = [
                    "https://portal.hc-cdn.com/cpage-pep-header-and-footer-china/2.0.46/header-and-footer-china.umd.js?sttl=1.2.3&ttr=1.2.3",
                    "https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/portalLogin.min.js?sttl=1.2.3&ttr=1.2.3"
                ];
                for(var i = 0; i < scripts.length; i++) {
                    var script = document.createElement('script');
                    script.type = 'text/javaScript';
                    script.setAttribute('crossorigin','anonymous');
                    script.src = scripts[i];
                    document.getElementsByTagName('body')[0].appendChild(script);
                }
            },
            error: function(response) {
              var scripts = [
                    "https://portal.hc-cdn.com/cpage-pep-header-and-footer-china/2.0.46/header-and-footer-china.umd.js?sttl=1.2.3&ttr=1.2.3",
                    "https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/portalLogin.min.js?sttl=1.2.3&ttr=1.2.3"
                ]
                for(var i = 0; i < scripts.length; i++) {
                    var script = document.createElement('script');
                    script.type = 'text/javaScript';
                    script.setAttribute('crossorigin','anonymous');
                    script.src = scripts[i];
                    document.getElementsByTagName('body')[0].appendChild(script);
                }
            }
        });


        if (!window.gConfig) {
            window.gConfig = {}
        }
        window.gConfig.isApp = /galaxy/i.test(navigator.userAgent) && window.galaxy;
        // 初始化全局变量
        var jsonParamInit = {}
        var jsonParamView = {}
        var jsonParamEvent = {}
        jsonParamInit['UserAccount'] = 'host'
        jsonParamEvent['rec_account'] = getUaCookie('ua')
        jsonParamView['rec_account'] = getUaCookie('ua')
        var portalDomain = 'https://portal.huaweicloud.com',
        ssoDomain = 'https://auth.huaweicloud.com'
        var isVerified = false
        var isLogin = false
        var totalMsg = 0;
        function getUaCookie(c_name) {
            if (document.cookie.length > 0) {
                var c_start = document.cookie.indexOf(c_name + '=')
                if (c_start != -1) {
                c_start = c_start + c_name.length + 1
                var c_end = document.cookie.indexOf(';', c_start)
                if (c_end == -1) c_end = document.cookie.length
                return decodeURI(document.cookie.substring(c_start, c_end))
                }
            }
            return ''
        }
    </script>


</div>


<style type="text/css">
    .notice-detail-content .notice-wrapper table td {
        border: 1px solid black;
    }
    .notice-detail-content .notice-wrapper #edui1_bottombar table td {
        border: none;
        border-top: 1px solid #ccc;
    }
    .notice-header {
        background-image: url(https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/article/clientlibs-notice-detail-v2/site/images/custom-notice-custom-notice-PC-v3.jpg);
    }
    @media (max-width: 1023px) {
        .notice-header {
            background-image: url(https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/article/clientlibs-notice-detail-v2/site/images/custom-notice-detail-notice_banner_mb-v3.jpg);
        }
    }
    .notice-header h1 {
        color: #252B3A;
    }
</style>


<script>
    var furionAppCode = '';
    var $currentUrl = location.href;
    if($currentUrl.indexOf("/price_detail.html") != -1 || $currentUrl.indexOf("/pricing.html") != -1 || $currentUrl.indexOf("/pricing/index.html") != -1){
      furionAppCode = 'D00903385CF649FCA048B5DE1C1E6D4E';
    }else if($currentUrl.indexOf("https://activity.huaweicloud.com") == 0) {
      furionAppCode = '51D7385A7D2B4937BB45DC755E82C48C';
    } else if ($currentUrl.indexOf("https://www.huaweicloud.com") == 0) {
      furionAppCode = '7D9AB7C5E01D4698B7B918065C762796';
    } else if ($currentUrl.indexOf("https://support.huaweicloud.com") == 0) {
      furionAppCode = '1C04D12EB0F8479A9DA9A24639FCA81C';
    }
    if(!window.__fr && furionAppCode){
      !function(x, n) {
        window[n] = window[n] || {};
        window[n].config = {
            appId: furionAppCode,setting: "api,jsTrack,uba,longtask,rtti",hashMode: true,closeReportFMP: true,
        };
        var o = document.createElement('script');
        o.src = x, o.async = !0;
        var d = document.body.firstChild;
        document.body.insertBefore(o, d);
      }('https://portal.hc-cdn.com/FurionSdkStatic/3.6.55/furion-cdn.min.js', '__fr');
    }
</script>

<script src="https://portal.hc-cdn.com/cnpm-global-resources/1.1.16/js/bi_new.js?sttl=1.2.3"></script>
<script>
    if (window.NodeList && !NodeList.prototype.forEach) {
        NodeList.prototype.forEach = function (callback, thisArg) {
            thisArg = thisArg || window;
            for (var i = 0; i < this.length; i++) {
                callback.call(thisArg, this[i], i, this);
            }
        };
    }
</script>
<script crossorigin="anonymous" src="https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/global.min.js"></script>

<script crossorigin="anonymous"
        src="https://portal.hc-cdn.com/cnpm-baseui/3.0.17/index.js?sttl=1.2.3&ttr=1.2.3"></script>

<script crossorigin="anonymous"
        src="https://res-static.hc-cdn.cn/aem/content/cloudbu-site/resource/common/feloader.js?sttl=1.2.3&ttr=1.2.3"
        type="text/javascript"></script>

<div class="hide-sttl" data-sttl="1.2.3" style="height: 0;width:0"></div>
<script>
    window.sttlVersion = $('.hide-sttl').attr('data-sttl') || '2020';
</script>


<script>
    if( !/pcloudApp/i.test(navigator.userAgent) ){
        $("#header").css("display","block");
    }
</script>


<!-- TODO：兼容AEM的埋点 Begin-->
<script>
    // edit--china--en-us--declaration
    var $ts_site = "china";
    var $ts_lang = "zh-cn".replace("_", "-");
    var $ts_domain = window.location.host.split('.')[1] ? window.location.host.split('.')[0] : 'localhost';
    var channel = "news/2025";
    var $uri = channel?"/20250621193254067.html":"20250621193254067.html";
    var $pepchannel = (channel+$uri).split("/").join("_").replace(".html","");
    window.matedataDomain = $ts_domain;

    // if open in app, should change ts_domain in to "app"
    if( /pcloudApp/i.test(navigator.userAgent) ) {
        window.matedataDomain = "app";
    }else{
        var str = window.location.search;
        var suband = "type=android";
        var subios = "type=ios";
        if( str.indexOf(subios)!=-1 || str.indexOf(suband)!=-1 ){
            window.matedataDomain = "app";
        }
    }

    // 新系统中生成的方式需要改下
    window.pageMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + ".click.";
    window.headerMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_navigation.click.";
    window.footerMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_footer.click.";
    window.registerMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_register.click.";
    window.serviceMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_service.click.";
    window.pep_uaid = ($ts_site=="china") ? "UA-55836286-1" : "UA-55836286-39";
    window.mate_data_ts_pageType = $pepchannel;
</script>
<!-- TODO：兼容AEM的埋点 End-->


<script>
    function showFooter(){
       if(window.matedataDomain != "app") {
           $("#footer .footer-nav").css('display','block');
           $("#footer .footer-copyright-container").css('display','block');
           $(".footer-service .footer-wrapper").css('display','block');
           $("#footer #videoDiv").css('display','none');
       }
    }
    if (window.feloader) {
        feloader.onLoad(function(){
            feloader.getScript('https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/product-icons.css');
            feloader.getScript('https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/iconFont-solution.css');
            showFooter()
        })
    }
    else{
        document.write("<link rel='stylesheet' href='https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/product-icons.css'>");
        document.write("<link rel='stylesheet' href='https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/iconFont-solution.css'>");
        showFooter();
    }

    // 处理一下a标签href是tel的场景
    var telsEle = $("a[href^='tel:'][target]");
    telsEle .removeAttr("target");
</script>


<script>
    if (window.$aioList && window.$aioList.length > 0) {
        for (var i = 0; i < window.$aioList.length; i++) {
            var tmpComponent = window.$aioList[i];
            if (tmpComponent) {
                var tmpComponentInfo = tmpComponent.split("/");
                if (tmpComponentInfo.length == 2) {
                    var name = tmpComponentInfo[0];
                    var version = tmpComponentInfo[1];
                    var tmpComponentWrapperEle = $('[data-mod-name="' + name + '"]');
                    var eleVersionAttr = tmpComponentWrapperEle.attr("data-mod-version");
                    if (eleVersionAttr && eleVersionAttr != version) {
                        var linkEle = $('head link[href*="' + name + '/' + version + '"]');
                        linkEle.attr("href", linkEle.attr("href").replace(version, eleVersionAttr));
                    }
                }
            }
        }
    }
</script>
<script>
    // document.referrer可以获取浏览器上一次地址，如果document.referrer是空字符串，则不为语言切换场景
    window.refLan = "";
    window.$PEP = true;

    function getSiteFromURL() {
        url = window.location.host;
        urlArr = url.split(".");
        if (urlArr[0] == "www") {
            reg = "CN";
        } else {
            reg = "HK"
        }
        return reg;
    }
    var siteStr = $('html').attr("site")
    if (siteStr) {
        window.reg = siteStr == "china" ? "CN" : siteStr.toUpperCase();
    } else {
        window.reg = getSiteFromURL();
    }

    window.promptLan = $('html').attr("lang");

    if (document.referrer != "") {
        if (document.referrer.indexOf("/authui/login") == -1) {
            if (document.referrer.indexOf(".com/intl") != -1) {
                window.refLan = (document.referrer.indexOf(".com/intl/zh-cn") != -1) ? "zh-CN" : ((document.referrer.indexOf(".com/intl/en-us") != -1) ? "en-US" : "es-US");
            } else {
                window.refLan = (document.referrer.indexOf(".com/en-us") != -1) ? "en-US" : "zh-CN";
            }
        } else {
            //window.refLan = (document.referrer.indexOf("locale=zh-cn") != -1) ? "zh-CN" : "en-US";
            if (document.referrer.indexOf("locale=") != -1) {
                window.refLan = (document.referrer.indexOf("locale=zh-cn") != -1) ? "zh-CN" : ((document.referrer.indexOf("locale=en-us") != -1) ? "en-US" : "es-US");
            } else {
                window.refLan = window.promptLan;
            }
        }
    } else {
        window.refLan = window.promptLan;
    }
</script>
<!--/* 55 trace for some special page */-->
<script>
    !function ($) {
        if (window.dataLayer && window.dataLayer.push) {

            if (window.location.pathname == "/consultation/") {
                $("#submitBtn").click(function (e) {
                    window.dataLayer.push({
                        "event": "consultSubmit",
                        "productName": $("#applicationscene").val()
                    });
                })
            }

            $("#header .header-login").click(function (e) {
                window.dataLayer.push({
                    "event": "loginIntention"
                })
            });

            $("#header .header-register").click(function (e) {
                window.dataLayer.push({
                    "event": "creationIntention",
                    "pageType": window.mate_data_ts_pageType,
                    "pagePosition": "Header"
                })
            });


        }
    }(jQuery);
</script>


<script src="https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/commons/apm/wise_trace.min.js?sttl=1.2.3"></script>

<script>
    $("a[href*='/pep-dialog/']").each(function () {
        var ele = $(this);
        var href = ele.attr("href");
        var path = href.replace(/.html/g, "");
        var ajaxPath = path.indexOf("activity/") == -1 ? path : path.split("activity/")[1];
        var arr = path.split("/");
        var dialogName = arr[arr.length - 1];
        var location_lang = $('html').attr('lang').toLowerCase();
        var site = $('html').attr('site').toLowerCase() == 'china' ? 'china' : 'hk';  //  站点判断，国内：china；国际站：hk
        var dialogUrl = (window.location.host.indexOf(".com") != -1 && window.location.host.indexOf("pep.huaweicloud.com") == -1) ? "https://" + window.location.host + "/" + ajaxPath + "/jcr:content/dialog.html?wcmmode=disabled" : "/content/cloudbu-site/" + site + "/" + location_lang + "/activity/" + ajaxPath + "/jcr:content/dialog.html?wcmmode=disabled";
        ele.css('pointer-events', 'auto');
        ele.on("click", function (e) {
            e.stopPropagation();
            e.preventDefault();
            if ($("body [data-pep-path*='" + dialogName + "']").length !== 0) {
                $("body [data-pep-path*='" + dialogName + "']").remove();
            }
            // dialog for activity
            $.ajax({
                url: dialogUrl,
                success: function (data) {
                    if (data) {
                        data = data.replace('block', 'none');
                        $("body").append(data);
                        $("#modal-rule").html($("body [data-pep-path*='" + dialogName + "']").html());
                        window.activityModal.show('#modal-rule', true);
                    }
                }
            })
        });
    });
</script>


</body>
</html>

{% endblock %}
            
        