{% extends "base.html" %}

{% block title %}新闻-20250620{% endblock %}

{% block content %}

<!doctype html>

<html lang="zh-CN" site="china">
<head>
    <meta charset="UTF-8">
    <meta content="pc,mobile" name="applicable-device">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="nsMgQr28vc" name="baidu-site-verification"/>
    <meta content="on" http-equiv="x-dns-prefetch-control">


    <meta content="news-pep2.0-base" name="templateName">


    <title>华为云发布盘古大模型5.5，宣布新一代昇腾AI云服务上线，成就行业AI先锋-华为云</title>
    <meta content="新一代昇腾AI云服务,盘古大模型5.5,行业AI先锋,CloudMatrix384,盘古基础大模型,AI重塑云服务"
          name="keywords"/>
    <meta content="今天，在华为开发者大会2025（HDC 2025）主题演讲中，华为常务董事、华为云计算BU CEO张平安宣布基于CloudMatrix 384超节点的新一代昇腾AI云服务全面上线，为大模型应用提供澎湃算力；宣布盘古大模型5.5正式发布，自然语言处理（NLP）、计算机视觉（CV）、多模态、预测、科学计算五大基础模型全面升级。同时，张平安还分享了盘古大模型在农业、工业、科研等领域的丰富创新应用和落地实践，持续深入行业解难题，成就行业AI先锋。华为诺亚方舟实验室主任王云鹤、华为云CTO张宇昕分别就盘古基础大模型技术解密和华为云如何用AI重塑云服务发表主题演讲，详细解读华为在AI领域的全栈创新优势。"
          name="description"/>
    <link href="https://www.huaweicloud.com/news/2025/20250620101057482.html" rel="canonical"/>


    <meta content="no-referrer-when-downgrade" name="referrer"/>
    <meta content="1.9.4" name="pep-template-version"/>
    <meta content="upgrade-insecure-requests;" http-equiv="Content-Security-Policy"/>


    <link href="https://www.huaweicloud.com/favicon.ico" rel="icon">


    <link crossorigin="anonymous"
          href="https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/css/global.min.css?sttl=1.2.3&ttr=1.2.3"
          rel="stylesheet"/>
    <!--/* header css */-->
    <link crossorigin="anonymous"
          href="https://portal.hc-cdn.com/cpage-pep-header-and-footer-china/2.0.46/index.css?sttl=1.2.3&ttr=1.2.3"
          rel="stylesheet">
    <style>
        @media(max-width:768px) {
            #header {
                display: none;
            }
        }

        #footer .footer-nav {
            display: none;
        }

        #footer .footer-copyright-container {
            display: none;
        }

        .footer-service .footer-wrapper {
            display: none;
        }
    </style>


    <link href="https://portal.hc-cdn.com/cnpm-baseui/3.0.17/index.css" rel="stylesheet">

    <script crossorigin="anonymous"
            src="https://portal.hc-cdn.com/cnpm-global-resources/1.1.16/js/jquery.min.js"></script>

    <script src="https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/libs.min.js"></script>

    <!--  -->

    <meta content="wQwSWDVSYQzH1niLqcUE15XH1_j_rN1T9-mbq2r6Dmw" name="google-site-verification"/>
    <meta content="u4x6sJNooE" name="sogou_site_verification"/>
    <link href="https://res-static.hc-cdn.cn" rel="dns-prefetch"/>
    <link href="https://portal.hc-cdn.com" rel="dns-prefetch"/>
    <link href="https://support.huaweicloud.com" rel="dns-prefetch"/>
    <link href="https://activity.huaweicloud.com" rel="dns-prefetch"/>
    <link href="https://portal.huaweicloud.com" rel="dns-prefetch"/>
    <link href="https://uba.huaweicloud.com" rel="dns-prefetch"/>
    <link href="https://uba-intl.huaweicloud.com" rel="dns-prefetch"/>

    <!--  -->


    <script>
        window.dataLayer = window.dataLayer || [];
        window.$closeBiReport2018 = true

        window.$siteInfo = window.$siteInfo || {};
        window.$siteInfo.site = "china";
        window.$siteInfo.lang = "zh-cn".replace("_", "-");
    </script>


    <script>window.$aioList = [ "" ]; window.$aioCdnPrefix = 'https://res.hc-cdn.com/';</script>


    <script>
        window.gConfig =  window.gConfig || {};
        window.gConfig.isMobile = /iPhone|iPad|iPod|Android|Mobile/i.test(navigator.userAgent);
        var hClassName;
        if(window.gConfig.isMobile){
            hClassName = ' phone';
        }else{
            hClassName = ' pc';
        }
        if(window.$aioList) {
            for(var i=0; i<window.$aioList.length; i++) {
                if(window.$aioCdnPrefix){
                    if(window.$aioList[i].length>0) {
                        document.write('<link rel="stylesheet" href="'+window.$aioCdnPrefix+window.$aioList[i]+'/'+(window.gConfig.isMobile?'m':'pc')+'/index.css" />');
                    }
                } else {
                    if(window.$aioList[i].length>0) {
                        document.write('<link rel="stylesheet" href="https://res.hc-cdn.com/'+window.$aioList[i]+'/'+(window.gConfig.isMobile?'m':'pc')+'/index.css" />');
                    }
                }

            }
        }
        var root = document.documentElement;
        root.className += hClassName ;
        window.gConfig.seed = window.gConfig.seed || [];
        window.gConfig.seed.push({
            name: '@cloud/link-to',
            data: {
                "packages": {
                    "@cloud/link-to": {
                        "path": "//portal.hc-cdn.com/cnpm-link-to/3.1.12/",
                        "version": "3.1.12"
                    }
                }
            }
        });
    </script>

    <link href="https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/article/clientlibs-news-fragment.css?sttl=1.2.3"
          rel="stylesheet">


</head>
<body class="scrolled">

<div>


</div>
<div id="content">


    <div>
        <div class="news-detail-banenr">
            <div class="news-detail-banenr-wrapper">
                <span class="por-text-title-t2">新闻报道</span>
                <p class="color_text_secondary_dark">了解华为云最新动态</p>
            </div>
        </div>

        <style>
            .news-detail-banenr{
                background-image:url("https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/news/moban/1622085546269068438.png");
            }
            .news-detail-banenr {
                height: 350px;
            }
            .news-detail-banenr-wrapper {
                height: 350px;
                padding-top: 105px;
            }
            .news-detail-banenr-wrapper span {
                display: inline-block;
                margin-bottom: 12px;
            }
             .news-detail-banenr-wrapper p {
                    font-size: 18px;
                }
            @media(max-width:768px){
                .news-detail-banenr{
                    background-image:url("https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/news/moban/1622085545839096663.png");
                }
                .news-detail-banenr {
                    height: 200px;
                }
                .news-detail-banenr-wrapper {
                    height: 200px;
                    padding-top: 64px;
                }
                .news-detail-banenr-wrapper span {
                    display: inline-block;
                    font-size: 24px;
                    margin-bottom: 8px;
                }
                .news-detail-banenr-wrapper p {
                    font-size: 14px;
                }
            }
        </style>
    </div>

    <div class="news-detail-container">
        <div class="news-detail-wrapper">


            <div class="news-detail-back-mb">

                <a bi_name="新闻报告" href="//www.huaweicloud.com/news.html">
                    <i></i>
                    <span>新闻报道</span>
                </a>

            </div>

            <div class="news-detail-content">

                <div class="news-detail-title">华为云发布盘古大模型5.5，宣布新一代昇腾AI云服务上线，成就行业AI先锋</div>
                <div class="news-detail-date">
                    <i></i>
                    <span>2025-06-20</span>

                </div>

                <div class="news-detail-text">

                    <p style="text-indent: 2em; text-align: justify;">【中国，东莞，2025年6月20日】今天，华为开发者大会2025（HDC
                        2025）在东莞篮球中心隆重揭幕。本次大会包含主题演讲、峰会、专题论坛、互动体验以及数百场面向开发者的特色活动。华为携手各领域客户及伙伴，全面分享了HarmonyOS、昇腾AI云服务、盘古大模型等最新科技创新成果。</p>
                    <p style="text-indent: 2em; text-align: justify;">在主题演讲中，华为常务董事、华为云计算CEO张平安宣布基于CloudMatrix
                        384超节点的新一代昇腾AI云服务全面上线，为大模型应用提供澎湃算力；宣布盘古大模型5.5正式发布，自然语言处理（NLP）、计算机视觉（CV）、多模态、预测、科学计算五大基础模型全面升级。同时，张平安还分享了盘古大模型在农业、工业、科研等领域的丰富创新应用和落地实践，持续深入行业解难题，成就行业AI先锋。华为诺亚方舟实验室主任王云鹤、华为云CTO张宇昕分别就盘古基础大模型技术解密和华为云如何用AI重塑云服务发表主题演讲，详细解读华为在AI领域的全栈创新优势。</p>
                    <p style="text-align: center;"><em><img alt="" height="auto"
                                                            src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/zhangpingan250620.jpg"
                                                            width="650"></em></p>
                    <p style="text-align: center;"><em>华为常务董事、华为云计算
                        CEO张平安宣布新一代昇腾AI云服务全面上线</em></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: justify;">
                        <strong>新一代昇腾AI云服务全面上线，打造最适合大模型应用的算力服务</strong></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        随着大模型训练和推理对算力需求的爆炸式增长，传统计算架构已难以支撑AI技术的代际跃迁。华为云新一代昇腾AI云服务基于CloudMatrix
                        384超节点，首创将384颗昇腾NPU和192颗鲲鹏CPU通过全新高速网络MatrixLink全对等互联，形成一台超级“AI服务器”，单卡推理吞吐量跃升到2300
                        Tokens/s，与非超节点相比提升近4倍。超节点架构能更好地支持混合多专家MoE大模型的推理，可以实现“一卡一专家”，一个超节点可以支持384个专家并行推理，极大提升效率；同时，超节点还可以支持“一卡一算子任务”，灵活分配资源，提升任务并行处理，减少等待，将算力有效使用率（MFU）提升50%以上。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        对于万亿、十万亿参数的大模型训练任务，在云数据中心，还能将432个超节点级联成最高16万卡的超大集群；同时，超节点还可以支持训推算力一体部署，如“日推夜训”，训推算力可灵活分配，帮助客户资源使用最优。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        当前，昇腾AI云服务已经成为AI基础设施的最优选择，为科大讯飞、新浪、硅基流动、面壁智能、中科院、360等超过1300家客户提供澎湃的AI算力，加速千行万业智能化升级。</p>
                    <p style="text-indent: 2em;">&nbsp;</p>
                    <p><strong>盘古大模型5.5全面升级 加速重塑千行万业</strong></p>
                    <p style="text-indent: 2em;">
                        一直以来，华为云盘古大模型都坚定地聚焦行业，在解难题、做难事的道路上不断攻坚克难，重塑千行万业。本次大会上，华为云重磅发布盘古大模型5.5，五大基础模型全面升级，为行业提供全新价值。</p>
                    <p style="text-align: center;"><img alt="" height="auto"
                                                        src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/panggu5.5发布20250620.jpg"
                                                        width="650"></p>
                    <p style="text-align: center;"><em>盘古大模型5.5正式发布</em></p>
                    <p style="text-indent: 2em; text-align: justify;"><strong>盘古自然语言处理NLP大模型：</strong>全新的718B
                        深度思考模型是一个由256个专家组成的MoE大模型，在知识推理、工具调用、数学等领域大幅增强，处于业界第一梯队。盘古大模型基于昇腾云的全栈软硬件训练，标志着基于昇腾可以打造出世界一流大模型。
                    </p>
                    <p style="text-indent: 2em; text-align: justify;">
                        同时，盘古大模型5.5在高效长序列、低幻觉、快慢思考融合、Agent等特性上进行升级，提升用户体验。例如，盘古提出了自适应快慢思考合一的技术，通过构建难度感知的快慢思考数据和两阶段渐进训练，实现模型根据问题难易程度自适应地切换快慢思考，简单问题敏捷回复，复杂问题深度思考，整体模型推理效率提升8倍。盘古深度研究DeepDiver通过长链难题合成、渐进式奖励等关键技术，可以在网页搜索、常识性问答等应用上获得很高的执行效率，如可以在5分钟内完成超过10跳的复杂问答、生成万字以上的专业调研报告等，大幅提升工作效率。</p>
                    <p style="text-align: center;"><img alt="" height="auto"
                                                        src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/wangyunhe250620.jpg"
                                                        width="650"></p>
                    <p style="text-align: center;"><em>华为诺亚方舟实验室主任王云鹤</em></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        盘古大模型的使命是让各个行业不必重复“造轮子”，不必从零打造自己的企业大模型。华为云面向企业提供了盘古基础及行业大模型、预训练和后训练语料、数据工程工具集、模型训练工具集、行业裁判模型、行业评测平台六大核心能力，通过华为云ModelArts完备的工具链和工程化的方法，将企业自己沉淀的数据资产，进行高质量的增训、微调和强化学习，让行业客户能够快速打造自己的专业大模型。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        中国农业科学院在盘古大模型基础上，增训海量专业文献与跨物种多组学数据，构建了面向育种领域的农业科学发现大模型，实现精准农业专业知识问答、高效基因分析和定向位点设计，缩短了早期研发周期，提升了目标性状改良精准性。当前，农科院团队已基于该农业科研智能系统成功地对一种水稻材料进行了株型改良，株高较常规品种降低约25%，抗倒伏能力显著提升，同时产量不受影响。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        会上，张平安发布盘古医学、金融、政务、工业、汽车五个具备深度思考能力的行业自然语言大模型，加速行业智能化，并将在6月底正式上线。</p>
                    <p style="text-indent: 2em; text-align: justify;"><strong>盘古多模态大模型：</strong>全新发布基于盘古多模态大模型的世界模型，可以为智能驾驶、具身智能机器人的训练，构建所需要的数字物理空间，实现持续优化迭代。
                    </p>
                    <p style="text-indent: 2em; text-align: justify;">
                        例如，在智能驾驶领域，输入首帧的行车场景、行车控制信息和路网数据，盘古世界模型就可以生成每路摄像头的行车视频和激光雷达的点云，能够为智能驾驶生成大量的训练数据，而无需依赖高成本的路采。广汽集团与华为云深度合作，依托盘古多模态大模型，实现了2D视频模态与3D点云模态的像素级对应，在数分钟内即可完成复杂场景Corner
                        case的复原，为端到端模型“两天一个版本”的高效迭代提供了强力支撑。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        同时，华为云也基于盘古大模型的多模态能力及思维能力，正式发布CloudRobo具身智能平台。该平台整合了数据合成、数据标注、模型开发、仿真验证、云边协同部署以及安全监管等端到端能力，提供具身多模态生成大模型、具身规划大模型、具身执行大模型三大核心模型，加速具身智能创新。面对具身智能领域机器人品类多、传感器类型多、接口协议多等挑战，华为云提出了机器人到云的联接协议R2C（Robot
                        to
                        Cloud），希望与机器人伙伴与行业组织共同打造R2C开放协议，让更多的机器人本体能够拥有高效安全的智能。</p>
                    <p style="text-indent: 2em; text-align: justify;"><strong>盘古预测大模型：</strong>采用业界首创的triplet
                        transformer统一预训练架构，将不同行业的数据，包括工艺参数的表格数据，设备运行日志的时间序列数据，产品检测的图片数据进行统一的三元组编码，并在同一框架内高效处理和预训练，极大地提升预测大模型的精度，并大幅提升跨行业、跨场景的泛化性。
                    </p>
                    <p style="text-indent: 2em; text-align: justify;">
                        海螺水泥采用盘古大模型，实现了熟料3天、28天强度预测，科学指导生料配料，在保证质量的基础上，可以添加更多城市建筑废弃物、工业废弃物等固废作为混合材料，降低成本的同时，也可以协助处理城市废弃物，修复生态环境。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        同时，盘古预测大模型已被应用于钢铁、有色金属、供热等多个行业，在工业领域帮助客户实现工艺优化和系统寻优。如宝武钢铁高炉大模型正式上线运行以后，出铁温度合格率稳定在90%以上，每吨铁水可节省2公斤燃料，一个高炉每天就可节省20吨燃料。云南铝业通过坤安大模型，在电解铝场景预测氧化铝添加间隔、氟化铝添加量和出铝量，提升了电解槽综合生产指标，每年降低电耗2600万度。天津能源使用盘古预测大模型，精准预测了供热需求，在刚结束的供暖季，实现了100%的均衡供热，能耗降低了10%。</p>
                    <p style="text-indent: 2em; text-align: justify;"><strong>盘古科学计算大模型：</strong>华为云持续拓展盘古科学计算大模型与更多科学应用领域的结合。深圳气象局基于盘古，进一步升级了“智霁”大模型，形成区域集合预报，更全面的反映天气系统的演变，做出更精准的天气预报。重庆市气象局针对成渝地区降水局地性强，且降水强度大的特点，基于盘古打造了“天资·12h“气象大模型，提升灾害天气的日内预报预警能力。深圳能源使用大模型进行中短期的风光发电量预测，及时做好发电侧的调节，提升能源开发效率。
                    </p>
                    <p style="text-indent: 2em; text-align: justify;"><strong>盘古计算机视觉CV大模型：</strong>华为云发布全新MoE架构的300亿参数视觉大模型，这是目前业界最大的视觉模型，并全面支持图像、红外、激光点云、光谱、雷达等多维度、泛视觉的感知、分析与决策。另外，盘古CV大模型通过跨维度生成模型，构建油气、交通、煤矿等工业场景稀缺的泛视觉故障样本库，极大地提升了业务场景的可识别种类与精度。
                    </p>
                    <p style="text-indent: 2em; text-align: justify;">
                        中国石油基于盘古打造了昆仑大模型，在勘探开发、炼油化工、装备制造等100多个专业领域开展人工智能深度应用。在装备制造领域，攻克输送管气孔、裂纹等亚毫米级缺陷识别难题，缺陷识别效率提升约40%，人工强度降低约25%。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        在过去的一年中，盘古大模型持续深耕行业，已在30多个行业、500多个场景中落地，在政务、金融、制造、医疗、煤矿、钢铁、铁路、自动驾驶、气象等领域发挥巨大价值，重塑千行万业。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        会上，华为云宣布品牌升级。在AI时代，华为云立志成为AI算力与技术的创新先锋，并且成就每一个客户成为行业智能化先锋。华为云将和客户、伙伴、开发者一起，加速千行万业的智能化。</p>
                    <p style="text-indent: 2em; text-align: justify;">&nbsp;</p>
                    <p><strong>华为云持续创新，用AI重塑云服务</strong></p>
                    <p style="text-indent: 2em; text-align: justify;">
                        为了帮助客户更好地拥抱AI，华为云不仅在基础设施和大模型方面持续创新，也在不断通过AI技术重塑云服务，打造AI
                        Native的云，让客户通过华为云服务，更便捷地拥抱AI创新，加速智能化。</p>
                    <p style="text-indent: 2em; text-align: justify;">会上，华为云CTO张宇昕发布最佳企业Agent平台ModelArts
                        Versatile。它内置了各类业务场景的经验模板，支持自助式的智能体开发，赋能企业组织与开发者构建更专业、更高产、更主动的企业级智能体。Versatile还提供了智能化工具链，实现Agent分钟级工作输出，达成传统人工天级工作成果，有效降低Agent开发的复杂度与专业性。</p>
                    <p style="text-indent: 2em; text-align: justify;">
                        同时，华为云基于AI算力、盘古大模型和Agent能力，对智能助手盘古Doer进行全面升级。例如，盘古深度思考大模型能让智能助手的意图理解、任务规划和执行的能力全面提升，让盘古Doer更聪明；围绕业务场景，用领域知识打造专业领域模型，让盘古Doer更懂行、更专业；从客户使用全流程的视角，以解决用户关键问题为目标构建Agentic工作流；根据任务灵活调用场景化工具集，同时以华为云客服积累的海量客户反馈作为评测集，让盘古Doer在执行任务上更精准、更高效。</p>
                    <p style="text-align: center;"><img alt="" height="auto"
                                                        src="https://res-static.hc-cdn.cn/cloudbu-site/china/zh-cn/unclassification/20256/zhangyuxin250620_1.jpg"
                                                        width="650"></p>
                    <p style="text-align: center;"><em>华为云CTO张宇昕宣布盘古助手全面升级</em></p>
                    <p style="text-align: justify; text-indent: 2em;"><strong>CodeArts
                        Doer</strong><strong>让软件开发更快更准更稳：</strong>构建了业界最全的6大开发领域专业Agent，覆盖项目经理、产品管理、开发、构建、测试和部署全流程，将软件研发端到端提效40%以上。通过分级记忆机制和动机性遗忘机制，让CodeArts
                        Doer像人脑一样既能关联有用的知识，又能主动淘汰无效信息，生成代码更符合用户需求。打造了全链路安全防护，内嵌13个企业级代码安全防护规范，同时基于多Agent协同提供自愈工作流，让软件漏洞可以被分钟级感知和修复。
                    </p>
                    <p style="text-align: justify; text-indent: 2em;">基于CodeArts
                        Doer高效开发能力，三星堆博物馆在两天内快速实现了游客数字应用的开发，丰富了游客体验。</p>
                    <p style="text-align: justify; text-indent: 2em;"><strong>GaussDB
                        Doer</strong><strong>打造专业的数字DBA：</strong>在精准查询方面，基于盘古大模型，利用全球上万个GaussDB运维案例的百亿Tokens数据微调，构建专业运维基模型；同时为客户提供基于故障现象、触发条件、定位流程三元组的动&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        态知识图谱，持续沉淀企业自身数据库运维经验，通过RAG让问题查询更精准。在高效处置方面，将数据库排障流程知识嵌入到模型思维链中进行训练；同时面向不同故障构建专业Agent，调用对应的50+处置工具，实现Agentic
                        AlOps；同时，GaussDB Doer 还全面支持MCP协议，让客户可以灵活选择外部工具。让故障处置更加高效。</p>
                    <p style="text-align: justify; text-indent: 2em;">
                        <strong>MetaStudio</strong><strong>构建智能交互数字人：</strong>通过个性化TTS语音合成，数字人的音色相似度、读音准确率都达到业界领先，同时结合更精准的口型匹配、更丰富的动作，实现数字人形象高拟真。通过3A降噪、AI-VAD精准人声检测，数字人交互时可以随时打断，转换话题。更加符合真实沟通场景。基于抗网损和智能路由算法，将问答响应时间控制在2秒以内，使交互体验更加友好。现在开发者只需要调用1个SDK，通过5行代码就可以集成MetaStudio的数字人AI能力。
                    </p>
                    <p style="text-align: justify; text-indent: 2em;"><strong>端到端大模型安全方案：</strong>华为云提供包含语料数据安全、模型安全、推理安全、应用安全在内的全生命周期模型安全方案。其中，本次华为云重磅发布大模型防火墙，通过提示词攻击防范和敏感内容实时检测，保障大模型推理安全。一方面识别越狱、角色扮演、恶意指令等主流提示词攻击手段；另一方面预置了百万级规则库，针对提示词攻击的检出率大于95%，整体能够帮助模型综合安全评测得分提升20%以上。
                    </p>
                    <p style="text-align: justify;">&nbsp;</p>
                    <p style="text-align: justify;"><strong>构建新生态，给全球开发者更优选择</strong></p>
                    <p style="text-align: justify; text-indent: 2em;">
                        华为云是华为公司面向开发者的统一底座，目标打造昇腾、鸿蒙、鲲鹏、GaussDB、欧拉等各项根技术的生态，给广大开发者一个更优的选择。如今，华为云开发者已超过800万；华为云作为云底座，支持鲲鹏、昇腾、鸿蒙等生态的开发者总计达到1300万。</p>
                    <p style="text-align: justify; text-indent: 2em;">
                        为了给开发者提供AI时代的智能应用开发体验，华为开发者空间全面升级，提供的开发资源从基础算力扩展到AI原生应用引擎、鸿蒙云手机等上层应用。基于这些全新的开发资源，开发者可以便捷的调用算力、大模型、Agent工具等华为云服务来开发智能应用。</p>
                    <p style="text-align: justify; text-indent: 2em;">
                        此外，华为开发者大赛2025赛季也宣布正式启动。本届大赛首次设置昇腾AI全栈技术赛道，融合鸿蒙原生、开发者空间，邀请全球高校学子和技术精英们通过开发者大赛，勇闯智能新世界。</p>
                    <p style="text-align: justify; text-indent: 2em;">
                        未来两天，华为云还将带来丰富的专题论坛、圆桌论坛，以及Codelabs、极客挑战赛、扫地僧见面会等开发者实操活动，开发者可以和华为专家面对面，共同碰撞技术创新的火花。</p>

                </div>


            </div>
        </div>
    </div>


    <style id="news-style" type="text/css">
        #content .wrapper {
            background-color: #ffffff;
        }
        .news-break {
            background-color: #f7f7f7;
            position: relative;
            width: 860px;
            font-size: 12px;
            left: -40px;
            height: 24px;
            line-height: 20px;
            color: #999;
        }

        @media (max-width: 1179px){
            .news-break {
                left:0px;
                background-color: #FFF;
            }
            .law_right .content-block img{
                width: 80%;
            }
            .law_right {
                margin-top: 0px;
            }
        }

        .news_detail strong, .news_detail .strong, .news-detail-text strong {
            font-weight: bolder;
        }
        .news-detail-text p a {
            word-wrap: break-word;
        }

        .news-detail-text p {
            text-indent: 0;
            line-height:32px !important;
            margin-top: 0px !important;
            margin-bottom: 20px !important;
        }

        .news-detail-text p span {
            font-size: 16px !important;
            color: rgb(111, 116, 121) !important;
        }

        .news-detail-text p a span {
            color:inherit !important;
        }

        .news-detail-text p>span,
        .news-detail-text h2 strong span {
            font-size: 16px !important;

        }
        .news-detail-text h2 {
            margin-bottom: 20px;
        }

        .news-detail-text div p .anchorclass {
            display:none;
        }
        .news-detail-date{
            clear:both;
            font-size:0px;
        }
        .news-detail-date span{
            display:inline-block;
            vertical-align:middle;
            line-height: 14px;
        }
        .footer-record span{

            display:inline-block;
        }

        .news-detail-text a:not([href]):hover {
            color: inherit;
            text-decoration: none;
        }
        .news-detail-text a:not([href]) {
            color: inherit;
        }
    </style>

    <!-- 处理富文本中图片大小 -->
    <script>
        $(".news-detail-text img").each(function () {
            var $this = $(this);
            var width = $this.width();
            var pWidth = $this.closest(".news-detail-text").width();

            if (width >= $this.height() && (width/pWidth) >0.8 ) {
                $this.css("width", "80%");
            } else {
                if( (width/pWidth) > 0.6 ){
                    $this.css("width", "60%");
                }
            }
        });

    </script>

    <!-- 处理富文本中图片和文本格式 -->
    <script>
        $(".crumbs a").each(function(){
            var index = location.href.split(location.host)[1].indexOf("partners");
            if($(this).text().trim()=="了解华为云"&&index>=0){
                $(this).text("合作伙伴");
            }
        });
        $("p strong").parent().each(function(){
            $(this).css("margin-top","50px;");
            $(this).children("strong").attr("style","color:#333;");
        });
    </script>


    <script src="https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/clientlib-product.js?sttl=1.2.3"></script>
    <script src="https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/commons/web_resoure/cms/static/js/v2/ucd-custom.js?sttl=1.2.3"></script>
    <script src="https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/commons/web_resoure/cms/static/js/v2/about.js?sttl=1.2.3"></script>


    <style>
        .news-detail-text img{
            height: auto !important;
        }

        @media(max-width: 767px){
            .news-detail-text img{
                width: auto !important;
                max-width: 100% !important;
                height: auto !important;
            }
        }
    </style>

</div>


<div>


    <script>
        var originsWhiteList = ['https://www.huaweicloud.com','https://activity.huaweicloud.com','https://support.huaweicloud.com','https://beian.huaweicloud.com'];
        var currentOrigin = originsWhiteList.includes(window.location.origin)?window.location.origin:'https://www.huaweicloud.com';
        var url = currentOrigin+"/common/header-footer-china-zh-2023.html";
        var $tmpForPEP = document.createElement("div");
        $.ajax({
            url: url,
            async: true,
            timeout: 10000,
            success: function(response) {
                $tmpForPEP.innerHTML = response;
                // 下拉部分
                $("#footer").append($tmpForPEP.querySelector("#edit-header-drop").innerHTML);
                var scripts = [
                    "https://portal.hc-cdn.com/cpage-pep-header-and-footer-china/2.0.46/header-and-footer-china.umd.js?sttl=1.2.3&ttr=1.2.3",
                    "https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/portalLogin.min.js?sttl=1.2.3&ttr=1.2.3"
                ];
                for(var i = 0; i < scripts.length; i++) {
                    var script = document.createElement('script');
                    script.type = 'text/javaScript';
                    script.setAttribute('crossorigin','anonymous');
                    script.src = scripts[i];
                    document.getElementsByTagName('body')[0].appendChild(script);
                }
            },
            error: function(response) {
              var scripts = [
                    "https://portal.hc-cdn.com/cpage-pep-header-and-footer-china/2.0.46/header-and-footer-china.umd.js?sttl=1.2.3&ttr=1.2.3",
                    "https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/portalLogin.min.js?sttl=1.2.3&ttr=1.2.3"
                ]
                for(var i = 0; i < scripts.length; i++) {
                    var script = document.createElement('script');
                    script.type = 'text/javaScript';
                    script.setAttribute('crossorigin','anonymous');
                    script.src = scripts[i];
                    document.getElementsByTagName('body')[0].appendChild(script);
                }
            }
        });


        if (!window.gConfig) {
            window.gConfig = {}
        }
        window.gConfig.isApp = /galaxy/i.test(navigator.userAgent) && window.galaxy;
        // 初始化全局变量
        var jsonParamInit = {}
        var jsonParamView = {}
        var jsonParamEvent = {}
        jsonParamInit['UserAccount'] = 'host'
        jsonParamEvent['rec_account'] = getUaCookie('ua')
        jsonParamView['rec_account'] = getUaCookie('ua')
        var portalDomain = 'https://portal.huaweicloud.com',
        ssoDomain = 'https://auth.huaweicloud.com'
        var isVerified = false
        var isLogin = false
        var totalMsg = 0;
        function getUaCookie(c_name) {
            if (document.cookie.length > 0) {
                var c_start = document.cookie.indexOf(c_name + '=')
                if (c_start != -1) {
                c_start = c_start + c_name.length + 1
                var c_end = document.cookie.indexOf(';', c_start)
                if (c_end == -1) c_end = document.cookie.length
                return decodeURI(document.cookie.substring(c_start, c_end))
                }
            }
            return ''
        }
    </script>


</div>


<style type="text/css">
    .notice-detail-content .notice-wrapper table td {
        border: 1px solid black;
    }
    .notice-detail-content .notice-wrapper #edui1_bottombar table td {
        border: none;
        border-top: 1px solid #ccc;
    }
    .notice-header {
        background-image: url(https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/article/clientlibs-notice-detail-v2/site/images/custom-notice-custom-notice-PC-v3.jpg);
    }
    @media (max-width: 1023px) {
        .notice-header {
            background-image: url(https://res-static.hc-cdn.cn/aem/etc/clientlibs/cloudbu-site/article/clientlibs-notice-detail-v2/site/images/custom-notice-detail-notice_banner_mb-v3.jpg);
        }
    }
    .notice-header h1 {
        color: #252B3A;
    }
</style>


<script>
    var furionAppCode = '';
    var $currentUrl = location.href;
    if($currentUrl.indexOf("/price_detail.html") != -1 || $currentUrl.indexOf("/pricing.html") != -1 || $currentUrl.indexOf("/pricing/index.html") != -1){
      furionAppCode = 'D00903385CF649FCA048B5DE1C1E6D4E';
    }else if($currentUrl.indexOf("https://activity.huaweicloud.com") == 0) {
      furionAppCode = '51D7385A7D2B4937BB45DC755E82C48C';
    } else if ($currentUrl.indexOf("https://www.huaweicloud.com") == 0) {
      furionAppCode = '7D9AB7C5E01D4698B7B918065C762796';
    } else if ($currentUrl.indexOf("https://support.huaweicloud.com") == 0) {
      furionAppCode = '1C04D12EB0F8479A9DA9A24639FCA81C';
    }
    if(!window.__fr && furionAppCode){
      !function(x, n) {
        window[n] = window[n] || {};
        window[n].config = {
            appId: furionAppCode,setting: "api,jsTrack,uba,longtask,rtti",hashMode: true,closeReportFMP: true,
        };
        var o = document.createElement('script');
        o.src = x, o.async = !0;
        var d = document.body.firstChild;
        document.body.insertBefore(o, d);
      }('https://portal.hc-cdn.com/FurionSdkStatic/3.6.55/furion-cdn.min.js', '__fr');
    }
</script>

<script src="https://portal.hc-cdn.com/cnpm-global-resources/1.1.16/js/bi_new.js?sttl=1.2.3"></script>
<script>
    if (window.NodeList && !NodeList.prototype.forEach) {
        NodeList.prototype.forEach = function (callback, thisArg) {
            thisArg = thisArg || window;
            for (var i = 0; i < this.length; i++) {
                callback.call(thisArg, this[i], i, this);
            }
        };
    }
</script>
<script crossorigin="anonymous" src="https://portal.hc-cdn.com/cnpm-global-resources/1.2.3/js/global.min.js"></script>

<script crossorigin="anonymous"
        src="https://portal.hc-cdn.com/cnpm-baseui/3.0.17/index.js?sttl=1.2.3&ttr=1.2.3"></script>

<script crossorigin="anonymous"
        src="https://res-static.hc-cdn.cn/aem/content/cloudbu-site/resource/common/feloader.js?sttl=1.2.3&ttr=1.2.3"
        type="text/javascript"></script>

<div class="hide-sttl" data-sttl="1.2.3" style="height: 0;width:0"></div>
<script>
    window.sttlVersion = $('.hide-sttl').attr('data-sttl') || '2020';
</script>


<script>
    if( !/pcloudApp/i.test(navigator.userAgent) ){
        $("#header").css("display","block");
    }
</script>


<!-- TODO：兼容AEM的埋点 Begin-->
<script>
    // edit--china--en-us--declaration
    var $ts_site = "china";
    var $ts_lang = "zh-cn".replace("_", "-");
    var $ts_domain = window.location.host.split('.')[1] ? window.location.host.split('.')[0] : 'localhost';
    var channel = "news/2025";
    var $uri = channel?"/20250620101057482.html":"20250620101057482.html";
    var $pepchannel = (channel+$uri).split("/").join("_").replace(".html","");
    window.matedataDomain = $ts_domain;

    // if open in app, should change ts_domain in to "app"
    if( /pcloudApp/i.test(navigator.userAgent) ) {
        window.matedataDomain = "app";
    }else{
        var str = window.location.search;
        var suband = "type=android";
        var subios = "type=ios";
        if( str.indexOf(subios)!=-1 || str.indexOf(suband)!=-1 ){
            window.matedataDomain = "app";
        }
    }

    // 新系统中生成的方式需要改下
    window.pageMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + ".click.";
    window.headerMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_navigation.click.";
    window.footerMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_footer.click.";
    window.registerMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_register.click.";
    window.serviceMatedataPrefix = window.matedataDomain + "_" + $ts_site + "_" + $ts_lang + "_" + $pepchannel + "_service.click.";
    window.pep_uaid = ($ts_site=="china") ? "UA-55836286-1" : "UA-55836286-39";
    window.mate_data_ts_pageType = $pepchannel;
</script>
<!-- TODO：兼容AEM的埋点 End-->


<script>
    function showFooter(){
       if(window.matedataDomain != "app") {
           $("#footer .footer-nav").css('display','block');
           $("#footer .footer-copyright-container").css('display','block');
           $(".footer-service .footer-wrapper").css('display','block');
           $("#footer #videoDiv").css('display','none');
       }
    }
    if (window.feloader) {
        feloader.onLoad(function(){
            feloader.getScript('https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/product-icons.css');
            feloader.getScript('https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/iconFont-solution.css');
            showFooter()
        })
    }
    else{
        document.write("<link rel='stylesheet' href='https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/product-icons.css'>");
        document.write("<link rel='stylesheet' href='https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/china/static/v2_resources/css/iconFont-solution.css'>");
        showFooter();
    }

    // 处理一下a标签href是tel的场景
    var telsEle = $("a[href^='tel:'][target]");
    telsEle .removeAttr("target");
</script>


<script>
    if (window.$aioList && window.$aioList.length > 0) {
        for (var i = 0; i < window.$aioList.length; i++) {
            var tmpComponent = window.$aioList[i];
            if (tmpComponent) {
                var tmpComponentInfo = tmpComponent.split("/");
                if (tmpComponentInfo.length == 2) {
                    var name = tmpComponentInfo[0];
                    var version = tmpComponentInfo[1];
                    var tmpComponentWrapperEle = $('[data-mod-name="' + name + '"]');
                    var eleVersionAttr = tmpComponentWrapperEle.attr("data-mod-version");
                    if (eleVersionAttr && eleVersionAttr != version) {
                        var linkEle = $('head link[href*="' + name + '/' + version + '"]');
                        linkEle.attr("href", linkEle.attr("href").replace(version, eleVersionAttr));
                    }
                }
            }
        }
    }
</script>
<script>
    // document.referrer可以获取浏览器上一次地址，如果document.referrer是空字符串，则不为语言切换场景
    window.refLan = "";
    window.$PEP = true;

    function getSiteFromURL() {
        url = window.location.host;
        urlArr = url.split(".");
        if (urlArr[0] == "www") {
            reg = "CN";
        } else {
            reg = "HK"
        }
        return reg;
    }
    var siteStr = $('html').attr("site")
    if (siteStr) {
        window.reg = siteStr == "china" ? "CN" : siteStr.toUpperCase();
    } else {
        window.reg = getSiteFromURL();
    }

    window.promptLan = $('html').attr("lang");

    if (document.referrer != "") {
        if (document.referrer.indexOf("/authui/login") == -1) {
            if (document.referrer.indexOf(".com/intl") != -1) {
                window.refLan = (document.referrer.indexOf(".com/intl/zh-cn") != -1) ? "zh-CN" : ((document.referrer.indexOf(".com/intl/en-us") != -1) ? "en-US" : "es-US");
            } else {
                window.refLan = (document.referrer.indexOf(".com/en-us") != -1) ? "en-US" : "zh-CN";
            }
        } else {
            //window.refLan = (document.referrer.indexOf("locale=zh-cn") != -1) ? "zh-CN" : "en-US";
            if (document.referrer.indexOf("locale=") != -1) {
                window.refLan = (document.referrer.indexOf("locale=zh-cn") != -1) ? "zh-CN" : ((document.referrer.indexOf("locale=en-us") != -1) ? "en-US" : "es-US");
            } else {
                window.refLan = window.promptLan;
            }
        }
    } else {
        window.refLan = window.promptLan;
    }
</script>
<!--/* 55 trace for some special page */-->
<script>
    !function ($) {
        if (window.dataLayer && window.dataLayer.push) {

            if (window.location.pathname == "/consultation/") {
                $("#submitBtn").click(function (e) {
                    window.dataLayer.push({
                        "event": "consultSubmit",
                        "productName": $("#applicationscene").val()
                    });
                })
            }

            $("#header .header-login").click(function (e) {
                window.dataLayer.push({
                    "event": "loginIntention"
                })
            });

            $("#header .header-register").click(function (e) {
                window.dataLayer.push({
                    "event": "creationIntention",
                    "pageType": window.mate_data_ts_pageType,
                    "pagePosition": "Header"
                })
            });


        }
    }(jQuery);
</script>


<script src="https://res-static.hc-cdn.cn/aem/content/dam/cloudbu-site/archive/commons/apm/wise_trace.min.js?sttl=1.2.3"></script>

<script>
    $("a[href*='/pep-dialog/']").each(function () {
        var ele = $(this);
        var href = ele.attr("href");
        var path = href.replace(/.html/g, "");
        var ajaxPath = path.indexOf("activity/") == -1 ? path : path.split("activity/")[1];
        var arr = path.split("/");
        var dialogName = arr[arr.length - 1];
        var location_lang = $('html').attr('lang').toLowerCase();
        var site = $('html').attr('site').toLowerCase() == 'china' ? 'china' : 'hk';  //  站点判断，国内：china；国际站：hk
        var dialogUrl = (window.location.host.indexOf(".com") != -1 && window.location.host.indexOf("pep.huaweicloud.com") == -1) ? "https://" + window.location.host + "/" + ajaxPath + "/jcr:content/dialog.html?wcmmode=disabled" : "/content/cloudbu-site/" + site + "/" + location_lang + "/activity/" + ajaxPath + "/jcr:content/dialog.html?wcmmode=disabled";
        ele.css('pointer-events', 'auto');
        ele.on("click", function (e) {
            e.stopPropagation();
            e.preventDefault();
            if ($("body [data-pep-path*='" + dialogName + "']").length !== 0) {
                $("body [data-pep-path*='" + dialogName + "']").remove();
            }
            // dialog for activity
            $.ajax({
                url: dialogUrl,
                success: function (data) {
                    if (data) {
                        data = data.replace('block', 'none');
                        $("body").append(data);
                        $("#modal-rule").html($("body [data-pep-path*='" + dialogName + "']").html());
                        window.activityModal.show('#modal-rule', true);
                    }
                }
            })
        });
    });
</script>


</body>
</html>
{% endblock %}
            
            
        